<%- include('../includes/menu_header'); %>

<div class="page-content">
	<section class="margin-bottom-sm">
		<div class="container-fluid">

			<div class="card">

				<div class="row d-flex align-items-stretch">

					<div class="col-sm-12">                           
						<div class="margin-t-10 padding-20">
							<h2 class="text-center">TELA EM DESENVOLVIMENTO!</h2>


						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>

</div>