<%- include('../includes/menu_header'); %>

<div class="page-content">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<div class="card">

				<div class="row margin-t-10">
					<div class="col-sm-12">
						Forma de Pagamento
						<br>
						<br>
						<a class="btn btn-primary ajax-load margin-b-10" href="/plataforma/sistema/sistemas/white_box">White Box</a>

					</div>
				</div>
			</div>
		</div>
	</section>






