<option value="0" disabled selected>Selecione o sistema</option>
<%
if (typeof data[usuario.id +'_robo'] != 'undefined' && data[usuario.id +'_robo'].length > 0) {
	for (var i = 0 ; i < data[usuario.id +'_robo'].length; i++) {
		%>


<option value="<%=data[usuario.id +'_robo'][i]._id%>"><%=data[usuario.id +'_robo'][i].nome %></option>



<%}
}%>