<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">

							<div class="w90 mx-auto text-center">
								<img class="w30" src="/public/images/landpage_investor_lookout.png">
							</div>

							<div class="margin-t-20 text-center">Ficamos felizes que está interessado no nosso sistema, por-favor entrar em contato através do e-mail <a href="mailto:suporte@einvestor.com.br">suporte@einvestor.com.br</a> ou convese por Whatsapp através do seguinte número:

								<a class="d-block margin-t-20 green-landpage-color" style="font-size:2rem;" href="whatsapp://send?abid=+5548991234551&text=Olá"><i class="fab fa-whatsapp green-landpage-color margin-r-10"></i>+55 48 991234551</a>

								<div class="margin-t-10 text-center">
								<img src="/public/images/qr_code_whatsapp.png" style="width:200px;">
							</div>

							</div> 
							



							

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>






