<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">

							<div>Ficamos felizes que está interessado no nosso sistema, por-favor entrar em contato através:</div>

							<div class="">Está interessado em contratar o sistema?</div>

							<div class="margin-t-20">Entre em contato com o suporte através do número: <a href="whatsapp://send?abid=+5548991234551&text=Hello%2C%20World!">+55 48 991234551</a>
							</div>
							

							<div class="margin-t-10">
								Ou envie um e-mail para <a href="mailto:suporte@einvestor.com.br">suporte@einvestor.com.br</a>
							</div>



							

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>






