<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">
		<div class="container-fluid">


			<%- include('faq_conteudo')%>


		</div>
	</section>

</div>


<%- include('whatsapp_box')%>