

<div class="padding-20 margin-t-20">


	<div class="text-center margin-b-20">
		<a class="ajax-load-to green-landpage-color" href="/carregar_prosseguir_opcao_cliente" data-to="container_prosseguir_tipo_cliente">
			<i class="fas fa-undo"></i>
			Voltar
		</a>
	</div>


	<div class="text-center black-text" style="font-size:1.5rem;">Escolha uma opção:</div>


	<div class="w100 mx-auto text-center margin-t-20 margin-b-20">


		<button type="button" class="btn btn-toggle-land btn-toggle-j-land btn-toggle-j-empresa green-landpage-color">
			Empresa
		</button>

		<button type="button" class="btn btn-toggle-land btn-toggle-j-land btn-toggle-j-banco margin-l-20 green-landpage-color">
			Banco
		</button>

		<button type="button" class="btn btn-toggle-land btn-toggle-j-land btn-toggle-j-gestora margin-l-20 green-landpage-color">
			Gestora de Investimentos
		</button>

		<button type="button" class="btn btn-toggle-land btn-toggle-j-land btn-toggle-j-fundo margin-l-20 green-landpage-color">
			Fundo de Investimentos
		</button>

		<button type="button" class="btn btn-toggle-land btn-toggle-j-land btn-toggle-j-outro margin-l-20 green-landpage-color">
			Outro
		</button>


	</div>


	<div class="formulario_container_pessoa_juridica"></div>



</div>