<!DOCTYPE html>
<html>
<head>
	<title>E-Investors</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel='stylesheet' href='/public/stylesheets/fontawesome.min.css' />
	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap.css' />
	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap-datepicker.min.css' />

	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap-slider.min.css' />

	<link rel='stylesheet' href='/public/stylesheets/datatables.min.css' />
	<link rel='stylesheet' href='/public/stylesheets/utils.css' />
	<link rel='stylesheet' href='/public/stylesheets/Chart.min.css' />
	<!-- 	<link rel='stylesheet' href='/public/stylesheets/style.css' /> -->
	<link rel='stylesheet' href='/public/stylesheets/font.css' />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
	<link rel='stylesheet' href='/public/stylesheets/jquery-linedtextarea.css' />

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

	<link rel='stylesheet' href='/public/stylesheets/main-theme.css' />
	<link rel='stylesheet' href='/public/stylesheets/dark-theme.css' />



	<script src="/public/javascripts/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
	<script src="/public/javascripts/jquery.min.js"></script>
	<script src="/public/javascripts/jquery.mask.js"></script>
	<script src="/public/javascripts/maskMoney.js"></script>
	<script src="/public/javascripts/popper.min.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap-datepicker.min.js"></script>

	<script src="/public/javascripts/bootstrap/bootstrap-slider.min.js"></script>
	
	<script src="/public/locales/bootstrap-datepicker.pt-BR.min.js"></script>

	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


	<script src="/public/javascripts/fullcalendar.min.js"></script>
	<script src="/public/javascripts/datatables.min.js"></script>
	<script src="/public/javascripts/Chart.bundle.min.js"></script>
	<script src="/public/javascripts/chartjs-plugin-datalabels.min.js"></script>
	<script src="/public/javascripts/jquery-linedtextarea.js"></script>

	<script src="/public/javascripts/landpage.js"></script>
	<script src="/public/javascripts/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>


	<nav class="header landpage_header">
		<div class="navbar-header">
			<!-- Navbar Header-->
			<a href="/" class="navbar-brand">
				<div class="logo">
					E-Investor
				</div>
			</a>



			<a href="/whitepaper"> 
				<i class="fas fa-chalkboard"></i>
				Whitepaper
			</a>

			<a class="margin-l-10" href="quem_somos">Quem somos</a>




			<div class="float-right minha_conta_landpage">

				<a href="/plataforma" >
					<i class="fas fa-user"></i>
					Minha Conta 

				</a>

			</div>

		</div>

	</nav>