<%-include('navbar_landpage');%>


<div class="margin-t-20">
	<img class="w100" src="/public/images/pdf/00.png">
</div>

<div class="container-lg">
	<section class="w100">

		<div class="padding-20 w90 mx-auto">


			<div class="f2rem text-center margin-t-20 bold primary-text">Uma ferramenta tecnológica de fácil utilização que diversifica e melhora consideravelmente a performance dos investimentos em renda variável.</div>

			<div class="f1_3rem text-center margin-t-40">
				A E-Investor disponibiliza esta plataforma web para investidores, com soluções para automação de investimentos com o uso de algoritmos, análise de dados e Inteligência Artificial que até então só era utilizada por grandes instituições financeiras e mega investidores.
			</div>




		</div>


		
	</section>


	<section class="w100 card_container_landpage_caracteristicas">

		<div class="padding-20 w90 mx-auto f1_3rem">

			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3">
					<div class="card h-100 padding-20 margin-t-20">

						<div class="text-center">
							<img class="w60" src="/public/images/land_whiteboxicon2.png">
						</div>

						<div class="bold text-center blue-text-titulo margin-t-20">White Box</div>

						<div class="margin-t-20 text-center">Opere utilizando uma estratégia White Box 100% parametrizável.</div>
					</div>				
				</div>


				<div class="col-sm-12 col-md-6 col-lg-3">
					<div class="card h-100 padding-20 margin-t-20">

						<div class="text-center">
							<img class="w60" src="/public/images/land_estrategiaicon2.png">
						</div>


						<div class="bold text-center blue-text-titulo margin-t-20">Estratégia</div>


						<div class="margin-t-20 text-center">Crie uma estratégia para derivativos futuros (mini índice e mini dólar) com auxílio de Inteligência Artificial e se posicione de maneira adequada no mercado.</div>
					</div>

				</div>

				<div class="col-sm-12 col-md-6 col-lg-3">
					<div class="card h-100 padding-20 margin-t-20">

						<div class="text-center">
							<img class="w60" src="/public/images/land_gerenciamentoicon2.png">
						</div>


						<div class="bold text-center blue-text-titulo margin-t-20">Gerencie seu risco</div>
						
						<div class="margin-t-20 text-center">Nosso algoritmo de Inteligência Artificial ajuda na escolha do sistema de automação de acordo com o seu perfil, são mais de 100 opções entre diferentes alocações de capital e diferentes perfis de rentabilidade e risco.</div>
					</div>

				</div>


				<div class="col-sm-12 col-md-6 col-lg-3">
					<div class="card h-100 padding-20 margin-t-20">
						<div class="text-center">
							<img class="w60" src="/public/images/land_servericon2.png">
						</div>


						<div class="bold text-center blue-text-titulo margin-t-20">24 horas / 7 dias por semana</div>
						

						<div class="margin-t-20 text-center">Sistema conectado 24 horas por dia e 7 dias por semana em servidor dedicado de primeira linha, mantendo sua conta conectada ao mercado em todos os pregões.</div>
					</div>

				</div>
			</div>

		</div>


		
	</section>


	<section class="divisor_azul">
		
	</section>



	<section class="w100 container_como_funciona_body">

		<div class="padding-20 w90 mx-auto">


			<div class="f2rem text-center margin-t-50 primary-text">Como funciona?</div>

			<div class="f1_3rem text-center margin-t-40">
				Você só precisa escolher seu sistema, assinar o plano, sincronizar sua conta e preencher os parâmetros de sua estratégia.
			</div>

			<div class="row">
				
				<div class="col-sm-12 col-md-6 col-lg-3 margin-t-40 margin-b-20">

					<div class="text-center">
						<div class="circulo_icone">
							<i class="fas fa-user-plus blue-text-titulo"></i>
						</div>
					</div>

					<div class="bold f1_5rem text-center blue-text-titulo margin-t-10">1 - Crie sua conta</div>
					<div class="margin-t-20 text-center">Cadastre-se, selecione e assine o plano mais adequado ao seu perfil de investidor.</div>
				</div>


				<div class="col-sm-12 col-md-6 col-lg-3 margin-t-40 margin-b-20">
					<div class="text-center">
						<div class="circulo_icone">
							<i class="far fa-building blue-text-titulo"></i>
						</div>
					</div>
					<div class="bold f1_5rem text-center blue-text-titulo margin-t-10">2 - Conecte sua corretora</div>
					<div class="margin-t-20 text-center">Sincronize sua conta e envie ordens de maneira automática através das principais corretoras do Brasil. Corretoras compatíveis: Modal Mais, Órama, Rico, Terra e XP Investimentos.</div>
				</div>

				<div class="col-sm-12 col-md-6 col-lg-3 margin-t-40 margin-b-20">
					<div class="text-center">
						<div class="circulo_icone">
							<i class="fas fa-cogs blue-text-titulo"></i>				
						</div>
					</div>
					<div class="bold f1_5rem text-center blue-text-titulo margin-t-10">3 - Configure sua estratégia</div>
					<div class="margin-t-20 text-center">Acesse o sistema White Box, escolha o nome da sua estratégia, e com auxílio da Inteligência Artificial do testador de estratégias da MetaQuotes, faça a otimização do código para utilizar o melhor algoritmo.</div>
				</div>

				<div class="col-sm-12 col-md-6 col-lg-3 margin-t-40 margin-b-20">
					<div class="text-center">
						<div class="circulo_icone">
							<i class="far fa-file-alt blue-text-titulo"></i>
						</div>
					</div>
					<div class="bold f1_5rem text-center blue-text-titulo margin-t-10">4 - Gerencie sua estratégia</div>
					<div class="margin-t-20 text-center">Análise o relatório completo gerado pela StrategyQuant do histórico passado em portfólio para você conhecer o potencial da estratégia.</div>
				</div>


			</div>
		</div>
	</section>


	<section class="w100 principal-text-color">

		<div class="padding-20 w90 mx-auto">

			<div class="f2rem text-center margin-t-20 primary-text">Segurança</div>


			<div class="f1_3rem margin-t-30 margin-b-40">

				<img class="landpage_seguranca_image inline" src="/public/images/land_page_seguranca.png">


				<div>O valor necessário para operações fica em sua conta da corretora de sua escolha, com total segurança, liquidez e controle único e exclusivo seu, apenas integramos o sistema a plataforma de negociação.</div>

				<div class="margin-t-20">
					Nossos sistemas estão alocados no maior servidor financeiro do mundo, com soluções e tecnologias avançadas de alta confiabilidade e baixa latência através de nossa Smart Cloud.
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-2 text-center offset-md-1">
					<img class="w80 margin-t-20" src="/public/images/modalmaislogo.png">
				</div>
				<div class="col-sm-12 col-md-2 text-center">
					<img style="margin-top: 35px !important; " class="w80" src="/public/images/oramalogo.png">
				</div>
				<div class="col-sm-12 col-md-2 text-center">
					<img class="w80 margin-t-20" style="width:45%; margin-top:35px !important;" src="/public/images/ricologo.png">
				</div>
				<div class="col-sm-12 col-md-2 text-center">
					<img class="w80 margin-t-20" style="margin-top: 35px !important;" src="/public/images/terralogo.png">
				</div>
				<div class="col-sm-12 col-md-2 text-center">
					<img class="w90 margin-t-20" style="margin-top: 36px !important;" src="/public/images/xplogo.png">
				</div>

			</div>



		</div>

	</section>


	<section class="w100 black-text" style="box-shadow: 2px -8px 7px 0px #f7f9fb;">
		<div class="padding-20 w90 mx-auto">
			<div class="f2rem text-center margin-t-20 primary-text">Tecnologia</div>

			<div class="f1_3rem margin-t-30 margin-b-40">



				<div>Integração entre duas das maiores e mais avançadas tecnologias de análise de dados financeiros e testes robustos do mundo para otimização de algoritmo e geração de relatórios.</div>

				

			</div>

			<div class="row">
				<div class="col-sm-12 col-md-6 text-right">
					<img class="w40 margin-r-20" src="/public/images/metaquotes2.png">
				</div>

				<div class="col-sm-12 col-md-6 text-left">
					<img class="w40" src="/public/images/strategy_quant2.png">
				</div>
			</div>




		</div>

	</section>




	<section class="w100 vantagens_container_landpage">

		<div class="padding-20 w90 mx-auto">

			<div class="f2rem text-center margin-t-20 primary-text">Vantagens de automatizar suas operações</div> 

			<div class="f1_3rem text-center margin-t-40 margin-b-20">

				<div class="media">
					<img src="/public/images/land_automacao_icon2.png">
					<div class="media-body">
						<b class="blue-text-titulo">Automação:</b> opere de maneira automatizada a estratégia utilizada pelos bancos, se expondo de maneira adequada a mercados futuros com o uso de Inteligência Artificial.
					</div>
				</div>

				<div class="media">	
					<img src="/public/images/land_tempo_icon2.png">
					<div class="media-body">			
						<b class="blue-text-titulo">Tempo:</b> configure sua estratégia de acordo com o seu perfil e deixe que o sistema faça os cálculos e realize as operações em milésimos de segundos para você.
					</div>
				</div>

				<div class="media">
					<img src="/public/images/land_psicologico_icon2.png">
					<div class="media-body">				
						<b class="blue-text-titulo">Psicológico:</b> ao invés de você tomar as decisões a cada momento por conta própria, você define a estratégia e o sistema executa as ordens sem interferência humana. Sem o fator de risco emocional fica muito mais fácil.
					</div>
				</div>

				<div class="media">
					<img src="/public/images/land_divesificacao_icon2.png">
					<div class="media-body">					
						<b class="blue-text-titulo">Diversificação:</b> manualmente é muito difícil operar e se posicionar em muitos ativos, isso porque você não consegue olhar, analisar e negociar todos eles ao mesmo tempo. O sistema consegue operar de maneira automatizada mais de um ativo, diversificando de maneira inteligente seu portfólio e minimizando seus riscos.
					</div>
				</div>

				<div class="media">
					<img src="/public/images/land_consistencia_icon2.png">
					<div class="media-body">				
						<b class="blue-text-titulo">Consistência:</b> uma estratégia automatizada boa é consistente, o que é muito complicado e difícil de se conseguir de forma manual.
					</div>
				</div>


			</div>

		</div>






	</section>



	<section class="w100 gray-light-background">

		<div class="padding-20 w90 mx-auto">

			<div class="row margin-t-20">
				<div class="col-sm-12 col-md-6">
					<div class="card padding-10">

						<div class="f2rem text-center margin-t-10 black-text">Para Empresas e Instituições</div>

						<div class="mx-auto margin-b-10 margin-t-20">

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Aumento</strong> do potencial de rendimentos.
							</div>

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Proteção</strong> contra oscilações de seu setor.
							</div>

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Aceleração</strong> de crescimento e expansão.
							</div>

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Potencialização</strong> de capital para investimentos.
							</div>

						</div>						
					</div>
				</div>

				<div class="col-sm-12 col-md-6">
					<div class="card padding-10">

						<div class="f2rem text-center margin-t-10 black-text">Para Fundos de Investimentos</div>

						<div class="mx-auto margin-b-10 margin-t-20">


							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Diversificação</strong> inteligente de carteira.
							</div>

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Aumento</strong> de liquidez.
							</div>

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Melhora</strong> de performance e rentabilidade.
							</div>

							<div>
								<i class="fas fa-check" style="color: #399c19;"></i>
								<strong class="margin-l-10">Diferencial</strong> comercial.
							</div>


						</div>



						
					</div>
				</div>



			</div>



		</div>
	</section>


	<section class="w100 container_prosseguir_tipo_cliente">
		<%- include('prosseguir_opcao_cliente');%>
	</section>

</div>

