<nav class="header landpage_header">
		<div class="navbar-header-landpage">
			<!-- Navbar Header-->
			<a href="/" class="navbar-brand">
				<div class="logo">
					E-Investor
				</div>
			</a>



			<a href="/whitepaper" class="<%= message.numero_menu == 2 ? 'active' : ''%>"> 
				<i class="fas fa-chalkboard"></i>
				Whitepaper
			</a>

			<a class="margin-l-10 <%= message.numero_menu == 3 ? 'active' : ''%>" href="quem_somos">Quem somos</a>

			<a class="margin-l-10 <%= message.numero_menu == 4 ? 'active' : ''%>" href="faq">F.A.Q</a>


			<div class="float-right minha_conta_landpage">

				<a href="/plataforma" >
					<i class="fas fa-user"></i>
					Minha Conta 

				</a>

			</div>

		</div>

	</nav>