<%-include('navbar_landpage');%>


<section class="padding-20 ">

	<div class="w80 mx-auto">


		<div class="primary-text margin-t-10 f24 text-center f2rem">
			Parabéns
		</div>

		<div class="text-center">
			Informe o E-mail que inseriu no formúlario da página inicial, você deve ter recebido um e-mail previamente sobre a escolha do algoritmo.
		</div>

		<form>
			<div class="row">
				<div class="form-group col-sm-12">
					<label>E-mail</label>
					<input class="form-control" type="email" name="email_l" placeholder="email@email.com.br" required="true">
				</div>
			</div>

			<button data-href="/carregar_pagina_parabens" class="btn btn-primary ajax-submit-load-to" data-to="parabens_container_box">Enviar</button>

		</form>




		<div class="parabens_container_box padding-20"></div>

	</div>

	
</section>



