		<div class="padding-20 w90 mx-auto">
			<div class="f2rem text-center margin-t-20 primary-text">Para prosseguir escolha uma opção:</div>

			<div class="w100 mx-auto text-center">


				<button type="button" class="btn btn-toggle-land btn-toggle-p-fisica margin-t-20">
					Pessoa Física
				</button>

				<button type="button" class="btn btn-toggle-land btn-toggle-p-juridica margin-t-20">
					Pessoa Jurídica
				</button>

			</div>

		</div>