<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<img class="w100" src="/public/images/banner_quemsomos.png">
			
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">
							<div class="primary-text">Quem somos</div> 

							<p>A E-Investor é uma plataforma 100% digital que entrega uma experiência única em responsabilidade, profissionalismo e tecnologia para investimentos, se adequando aos diferentes perfis de estratégias e investidores.</p>

							<p>Nos especializamos em Engenharia de Softwares e em Engenharia Financeira atuando com Hi-tech bancária de primeira linha. Hoje estamos inseridos no maior servidor financeiro do mundo, com soluções e tecnologias avançadas de alta confiabilidade e baixa latência através de nossa Smart Cloud. Contamos com uma equipe especializada com mais de 10 anos de experiência no setor de Inovação, Tecnologia e de Investimentos financeiros e imobiliários.</p>
							<div class="primary-text">Missão</div>
							<p>
								Democratizar o acesso a informações e tecnologias financeiras de ponta, contribuindo assim com o desenvolvimento financeiro de pessoas e empresas.
							</p>
							<div class="primary-text">Visão</div>
							<p>Sermos referência em tecnologia e informação financeira.</p>
							<div class="primary-text">Objetivo</div>
							<p>Oferecer soluções tecnológicas que facilitem o acesso a informações e ferramentas que melhorem consideravelmente a performance dos usuários.</p>

							<div class="primary-text">Valores</div>
							<p>Nossos valores são congruência, transparência, ética e profissionalismo.</p>

							<div class="primary-text">Transparência</div>

							<p>Somos totalmente transparentes sobre os serviços oferecidos e sobre todos os riscos envolvidos em operações de renda variável, confira nosso setor de Termos e condições de uso - Avisos legais e de responsabilidade.</p>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>






