<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<img class="w100" src="/public/images/banner_quemsomos.png">
			
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">
							<div class="primary-text">Quem somos</div> 

							<%- include('../suporte/quem_somos_conteudo')%>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>






