<footer class="primary-background rodape_landpage">
	<div class="w90 mx-auto white-text padding-20 justify">


		<p class="text-center">Está com alguma dúvida? Entre em contato com o suporte : <a href="mailto:suporte@einvestor.com.br">suporte@einvestor.com.br</a></p>

		<small>A E-Investor é uma plataforma desenvolvida pela Innvicton Tecnologia, que desenvolve softwares e tecnologias quantitativas para usuários investidores. A Innvicton Tecnologia é uma empresa de desenvolvimento de software e não provê qualquer tipo de serviço de investimento ou corretagem nos mercados financeiros. Sistema desenvolvido exclusivamente para integração ao testador de estratégias da Metaquotes para geração de parâmetros de algoritmo pelo usuário com auxílio de Inteligência Artificial. Não atuamos como prestadora de informações de mercado, ou como receptora/transmissora de ordens de negociação para o sistema de distribuição de valores mobiliários. Esta plataforma, serviços e sistemas não constitui nem deve ser interpretado como oferta ou solicitação de compra ou venda de qualquer instrumento financeiro, ficando a decisão de investimento sempre a critério exclusivo do usuário com base em seu juízo de valor. O investidor deve consultar seu próprio assessor ou conselheiro jurídico, tributário, regulatório, técnico de negócios, de investimentos, financeiro e contábil, na medida que julgar necessário, para assessoria na escolha de definição de softwares, plataformas, sistemas, algoritmos, estratégias e setups. O investidor que realiza operações de renda variável é o único responsável pelas decisões de investimento ou de abstenção de investimento que tomar. </small>

		<small>
			Os sistemas da E-Investor são totalmente parametrizáveis (White Box), contendo seus parâmetros abertos para preenchimento pelo usuário da maneira que ele preferir e julgar mais adequada, cabendo a cada usuário a tomada de decisão da estratégia ou setup que vai utilizar. Comercialização de estratégias automatizadas; CNAE 6202-3/00; Regulatório CVM referente a Instrução CVM n° 598/18 conforme Item 15 Do Ofício-Circular CVM/SIN 02/19. Leia todo o conteúdo em <a href="termos_uso" target="_blank">Termos e condições de uso - Avisos legais e de responsabilidade.</a> Copyright - Innvicton Tecnologia - Todos os direitos reservados.
		</small>

		<small>
			Empresas e tecnologias as quais utilizamos ou recomendamos não tem nenhuma ligação ou participação em qualquer negócio, produto ou serviço da E-Investor, e não obstante não tem ligação com este site, sistema ou conteúdo de nenhuma maneira comercial ou explícita.
		</small>


		<div>
			<small>
				<div>
					<a href="termos_uso" target="_blank">Termos de uso</a>
				</div>

				<div>
					<a href="politica_privacidade" target="_blank">Politica de Privacidade</a>
				</div>
			</small>

		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4 text-center">
				<img src="/public/images/e_investor_logo_white.png" class="w50 margin-t-20">
			</div>
			<div class="col-sm-12 col-md-4 text-center">
				<img src="/public/images/metaquotes.png" class="w50 margin-t-20">
			</div>
			<div class="col-sm-12 col-md-4 text-center">
				<img src="/public/images/strategy_quant.png" class="w50 margin-t-20">
			</div>

		</div>



	</div>

</footer>