<nav id="sidebar" class="none"> 

	<ul class="list-unstyled">
		<li class="<%= message.numero_menu == 1 ? 'active' : ''%>">
			<a href="/"> 
				<i class="fas fa-home"></i>Home 
			</a>
		</li>

		<li class="<%= message.numero_menu == 2 ? 'active' : ''%>">
			<a href="/whitepaper"> 
				<i class="fas fa-chalkboard"></i>Whitepaper 
			</a>
		</li>

		<li class="<%= message.numero_menu == 3 ? 'active' : ''%>">
			<a href="/quem_somos"> 
				<i class="fas fa-users"></i>Quem somos 
			</a>
		</li>

		<li class="<%= message.numero_menu == 4 ? 'active' : ''%>">
			<a href="/faq"> 
				<i class="fas fa-question"></i>F.A.Q 
			</a>
		</li>

		<li>
			<a href="/plataforma"> 
				<i class="fas fa-user"></i>
				Minha Conta 
			</a>
		</li>

	</ul>


</nav>