<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">

		<div class="margin-t-10 margin-l-20 text-center">
			<label class="inline primary-text f16">Porcentagem</label>

			<div class="custom-control custom-switch inline">
				<input type="checkbox" class="custom-control-input" id="relatorio_porcentagem_reais" name="reais">
				<label class="custom-control-label f16 primary-text" for="relatorio_porcentagem_reais">Reais</label>
			</div>
		</div>
		<%- include('gerador_relatorio'); %>
	</section>

</div>






