			<div class="margin-b-10">
				<form class="form-inline">

					<div class="row w100 align-items-center justify-content-center">
						<div class="col-sm-12">
							<div class="form-group d-flex align-items-center justify-content-center">
								<label for="token">Token:</label>
								<input type="password" class="form-control margin-l-10 margin-r-10" name="token"  aria-describedby="token" required= "true" placeholder="Token">

								<button class="btn btn-primary ajax-submit-load-to" data-href="/enviar-token" data-to="container_data_token">Enviar</button>
							</div>
						</div>

						<div class="col-sm-12 margin-t-10 text-center">
							Adicione token:
						</div>

						<div class="col-sm-12 margin-t-10 text-center">
							Token1
						</div>

					</div>
				</form>
			</div>