	<div class="whatsapp-popup">
		<div class="whatsapp-popup-icon">
			<i class="fab fa-whatsapp"></i>
		</div>

		<div class="whatsapp-popup-text">
			Fale conosco
		</div>

	</div>


	<div class="whatsapp-popup-box">

		<div class="whatsapp-popup-qrcode">
			<div class="text-center">
				<img src="/public/images/qr_code_whatsapp.png">
			</div>
			<div class="whatsapp-popup-qrcode-number">47 99123-4551</div>

		</div>

		<div class="whatsapp-popup-box-data">

			<div class="whatsapp-popup-box-header">
				<div class="whatsapp-popup-box-header-title">Olá</div>
				<div class="whatsapp-popup-box-header-subtitle">Estamos à disposição para sanar todas as suas dúvidas.</div>


				<div class="whatsapp-popup-box-header-close">
					<i class="fas fa-times"></i>
				</div>

			</div>

			<div class="whatsapp-popup-box-container">

				<a target="_blank" href="https://web.whatsapp.com/send?phone=5548991234551" class="whatsapp-popup-box-container-card">

				<!-- 	<div class="whatsapp-popup-box-container-icon">
						<img src="/public/images/whatsapp-suporte-imagem-landpage.jpg">
					</div> -->

					<div class="whatsapp-popup-box-container-text">
						<span class="whatsapp-popup-box-container-text-title">Suporte Técnico</span>
						<br>
						<span class="whatsapp-popup-box-container-text-name">Flávio - Responsável Técnico</span>
						<br>
					</div>



					<div class="whatsapp-popup-box-container-right">
						<i class="fab fa-whatsapp"></i>
					</div>
				</a>
			</div>
		</div>
	</div>