<%-include('navbar_landpage');%>

<div class="margin-t-20">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<img class="w100" src="/public/images/banner_white.png">
			

			<div class="accordion" id="white_box_hedge">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
								<span class="primary-text bold">WHITEPAPER</span>
							</button>
						</h2>
					</div>

					<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#white_box_hedge">
						<div class="card-body">

							<div class="primary-text">Variable White Box Hedge</div>

							<p class="margin-t-20">Variable White Box Hedge é uma ferramenta de automação Multi-Broker disponível na plataforma E-Investor para investidores, é um sistema rápido, fácil e 100% digital que entrega uma experiência única em investimentos automatizados para mercados futuros de renda variável, utilizando algoritmos avançados, Hi-Tech bancária de primeira linha e é totalmente flexível a diferentes perfis de investidores.</p>
							<p>Este sistema foi desenvolvido com Inteligência Artificial para operar ativos financeiros de maneira automatizada, baseando-se na estratégia utilizada pelos maiores bancos e instituições do mundo.</p>
							<p>Nosso sistema é resultado de anos de estudos e especialização. Analisamos e testamos dados financeiros exaustivamente com auxílio de Inteligência Artificial, para obter informações relevantes e poder criar um sistema consistente, seguro e dinâmico para o mercado financeiro.</p>

							<p>Os sistemas da E-Investor são totalmente parametrizáveis (White Box), contendo seus parâmetros abertos para parametrização pelo usuário da maneira que ele preferir e julgar mais adequada, cabendo a cada usuário a tomada de decisão da estratégia ou setup que vai utilizar.</p>
							
							<p>Disponibilizamos a otimização de algoritmo com o testador de estratégias da MetaQuotes Ltd. de maneira simples e integrada, utilizando os dados dos ativos fornecidos pela XP Investimentos, para que o usuário tenha o máximo de confiabilidade para a definição dos parâmetros a serem utilizados através da seleção do melhor resultado em Backtest feito por Inteligência Artificial, e fornecemos os relatórios completos, utilizando a StrategyQuant dos seus últimos algoritmos gerados para melhor análise da sua estratégia.</p>

							<p>Os sistemas foram desenvolvidos exclusivamente para integração ao testador de estratégias da Metaquotes para geração de parâmetros do algoritmo pelo usuário com auxílio de Inteligência Artificial.</p>
							
							<p>Consulte material e informações diretamente na página oficial dos sistemas utilizados:</p> <a href="https://strategyquant.com/quantanalyzer" target="_blank">https://strategyquant.com/quantanalyzer</a><br><a href="https://strategyquant.com/" target="_blank">https://strategyquant.com/</a><br> <a href="https://www.metaquotes.net/en/metatrader5/algorithmic-trading/tester" target="_blank">https://www.metaquotes.net/en/metatrader5/algorithmic-trading/tester</a><br>

							<p>Temos a ideia de que sistemas financeiros e Hi-Tech bancária são complexos e caros, que somente grandes instituições e investidores podem utilizá-los, e isso é verdade, por isso simplificamos e facilitamos o acesso a eles para você.</p>

							<p>Automatizar processos financeiros e estratégias com o uso de Inteligência artificial está muito mais fácil do que você imagina, e os benefícios são inúmeros, confira alguns deles:</p>
							<p><strong>- Automação:</strong> opere de maneira automatizada a estratégia utilizada pelos bancos, se expondo de maneira adequada a mercados futuros com o uso de Inteligência Artificial.</p>
							<p><strong>- Tempo:</strong> configure sua estratégia de acordo com o seu perfil e deixe que o sistema faça os cálculos e realize as operações em milésimos de segundos para você.</p>
							<p><strong>- Psicológico:</strong> ao invés de você tomar as decisões a cada momento por conta própria, você define a estratégia e o sistema executa as ordens sem interferência humana. Sem o fator de risco emocional fica muito mais fácil.</p>
							<p><strong>- Diversificação:</strong> manualmente é muito difícil operar e se posicionar em muitos ativos, isso porque você não consegue olhar, analisar e negociar todos eles ao mesmo tempo. O sistema consegue operar de maneira automatizada mais de um ativo, diversificando de maneira inteligente seu portfólio e minimizando seus riscos.</p>
							<p><strong>- Consistência:</strong> uma estratégia automatizada boa é consistente, o que é muito complicado e difícil de se conseguir de forma manual.</p>
						</div>
					</div>
				</div>


			</div>

<!-- 			<div class="accordion" id="avisos_legais">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
								<span class="primary-text bold">Avisos legais e de responsabilidade</span>
							</button>
						</h2>
					</div>

					<div id="collapse2" class="collapse show" aria-labelledby="headingOne" data-parent="#avisos_legais">
						<div class="card-body">

							<p>A E-Investor é uma plataforma desenvolvida pela Innvicton Tecnologia, que desenvolve softwares e tecnologias quantitativas para usuários investidores. A Innvicton Tecnologia é uma empresa de desenvolvimento de software inscrita sob o CNPJ: 23.285.285/0001-50, e não provê qualquer tipo de serviço de investimento ou corretagem nos mercados financeiros. Não atuamos como prestadora de informações de mercado, ou como receptora/transmissora de ordens de negociação para o sistema de distribuição de valores mobiliários. O conteúdo apresentado neste material, bem como seus sistemas, robôs, ferramentas e serviços não se trata de recomendação, indicação e/ou aconselhamento ou recomendação de investimento, sendo única e exclusiva responsabilidade do investidor a tomada de decisão. Não recomendamos ou subentendemos nada sobre o futuro desempenho de qualquer sistema ou tecnologia, deixando claro que os desempenhos anteriores e de Backtest não são indicativos de resultados futuros e nenhuma declaração ou garantia, de forma expressa ou implícita, é feita em relação a desempenhos futuros. O investidor deve consultar seu próprio assessor ou conselheiro jurídico, tributário, regulatório, técnico de negócios, de investimentos, financeiro e contábil, na medida que julgar necessário, para assessoria na escolha de definição de softwares, plataformas, robôs, algoritmos, estratégias e setups. Os sistemas da E-Investor são totalmente parametrizáveis (White Box), contendo seus parâmetros abertos para preenchimento pelo usuário da maneira que ele preferir e julgar mais adequada, cabendo a cada usuário a tomada de decisão da estratégia ou setup que vai utilizar. Comercialização de estratégias automatizadas; CNAE 6202-3/00; Regulatório CVM conforme Item 15 Do Ofício-Circular CVM/SIN 02/19. Leia todo o conteúdo em Termos e condições de uso - Avisos legais e de responsabilidade.</p>


						</div>
					</div>
				</div>


			</div> -->


			<div class="accordion" id="estrategia">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
								<span class="primary-text bold">A estratégia</span>
							</button>
						</h2>
					</div>

					<div id="collapse3" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">

							<p>A estratégia do sistema é baseada em Price Action (ação do preço) Long only (apenas compra) e entra em hedge (proteção/cobertura) entre os ativos diversificados em portfólio (correlação negativa), assim com esta engenharia financeira melhora a sua performance e minimiza os seus riscos, e ainda conta com um gerenciamento inteligente de entradas, saídas e posição.</p>

							<p>Os campos da estratégia são White Box, tendo seus parâmetros abertos para preenchimento pelo usuário  via otimização com auxílio de I.A. (Inteligência Artificial) da MetaQuotes Ltd.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="ativos">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
								<span class="primary-text bold">Ativos</span>
							</button>
						</h2>
					</div>

					<div id="collapse4" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">

							<p>Os ativos compatíveis são mini contratos futuros de Índice Bovespa (WIN) e cambial Real-Dólar (WDO) na B3 – Bolsa de valores do Brasil.</p>

							<a href="http://www.b3.com.br/pt_br/produtos-e-servicos/negociacao/renda-variavel/mercado-de-acoes/mercado-futuro.htm" target="_blank">http://www.b3.com.br/pt_br/produtos-e-servicos/negociacao/renda-variavel/mercado-de-acoes/mercado-futuro.htm</a>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="pre_requisitos">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
								<span class="primary-text bold">Pré-Requisitos</span>
							</button>
						</h2>
					</div>

					<div id="collapse5" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">

							<p>Para utilizar o sistema Variable White Box Hedge, você deve estar enquadrado via Suitability (API - Análise de Perfil do Investidor) de sua corretora, para que seja disponibilizada operações em renda variável e autorizada contratação da plataforma externa em sua conta, cumprindo a Instrução 539 da CVM.</p>

							<p>É necessário ter a conta em uma das corretoras compatíveis e contratar a plataforma de negociação da MetaQuotes Ltd. MetaTrader 5 conta real/produção, Netting, de respeitar o capital inicial mínimo necessário em conta (Limite MT5) de acordo com seu perfil de risco selecionado previamente no sistema.</p>

							<p>Você deve sempre checar com a corretora se o capital necessário já está alocado como limite na conta MetaTrader 5 e se a mesma já está habilitada a realizar operações nos ativos futuros mini Índice e mini Dólar. Recomendamos a ativação da RLP na corretora para maior liquidez e custo zero de corretagem.</p>

							<p>Para ser compatível a corretora precisa ter disponível a plataforma MetaTrader 5 e disponibilizar operações de posição (Swing Trade) em mini Índice e mini dólar futuro. Hoje as corretoras que se enquadram nos pré-requisitos são: Modal Mais, Órama, Rico, Terra e XP.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="gerenciamento_risco">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
								<span class="primary-text bold">Gerenciamento de risco</span>
							</button>
						</h2>
					</div>

					<div id="collapse6" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">

							<p>Com o auxílio de um Profissional certificado CFP® - Certified Financial Planner, desenvolvemos um algoritmo de gestão de risco, para que o usuário identifique seu perfil e escolha o sistema mais adequado.</p>
							<p>Nosso algoritmo de Inteligência Artificial ajuda na escolha do sistema de automação de acordo com o perfil do usuário, são mais de 100 opções entre diferentes alocações de capital e diferentes perfis de rentabilidade e risco.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="seguranca">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
								<span class="primary-text bold">Segurança</span>
							</button>
						</h2>
					</div>

					<div id="collapse7" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">

							<p>Bolsa de valores Brasileira, a maior bolsa de valores da América Latina.</p>

							<p>O valor necessário para operações fica em custódia da corretora de escolha do usuário, com total segurança, liquidez e controle único e exclusivo dele, apenas integramos o sistema a plataforma de negociação.</p>

							<p>Todos os sistemas se encontram em servidor dedicado com arquitetura de segurança e uso de algoritmos e chaves de criptografia. O usuário não precisa instalar nada em seu computador, nosso sistema web faz toda a sincronização e se mantém disponível e operante todo tempo, sem riscos de interrupções por falhas de hardware, software, energia ou internet. O usuário só precisa escolher seu sistema, sincronizar sua conta e preencher os parâmetros de sua estratégia.</p>

							<p>Você deve acompanhar seus resultados e operações direto na sua corretora.</p>

							<p>A plataforma MT5, da MetaQuotes Ltd. é uma plataforma unicast, e portanto é utilizada somente para operações, o acompanhamento de saldo e resultados deverá ser feito na plataforma web de sua corretora, em extrato, bem como pelas notas de operações geradas.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="transparencia">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
								<span class="primary-text bold">Transparência</span>
							</button>
						</h2>
					</div>

					<div id="collapse8" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">
							<p>Somos totalmente transparentes sobre os produtos e/ou serviços contratados e todos os riscos envolvidos em operações de renda variável, confira nosso setor de <a href="termos_uso">Termos e condições de uso - Avisos legais e de responsabilidade.</a></p>



						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="smart_cloud">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
								<span class="primary-text bold">Smart Cloud</span>
							</button>
						</h2>
					</div>

					<div id="collapse9" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">
							<p>Para sua comodidade todos os sistemas se encontram em servidor dedicado, significa que você não precisa instalar nada em seu computador, nosso sistema web faz toda a sincronização e se mantém disponível e operante todo tempo, sem riscos de interrupções por falhas de hardware, software, energia ou internet.</p>

							<p>A infraestrutura: Não há pontos únicos de falha em nossos servidores dedicados. Nossa arquitetura exclusiva utiliza virtualização, para que sua atividade não seja afetada, mesmo em caso de falha ou manutenção de hardware.</p>
							<p>Armazenamento: Nosso armazenamento SSD ultrarrápido tem replicação tripla e autocura. Portanto, você não notará nenhuma interrupção de armazenamento, mesmo nas falhas de hardware mais catastróficas.</p>
							<p>Rede: Parceria exclusiva com vários Provedores de Internet Global Tier-1 . Além disso, combinamos suas redes para que nossos serviços possam se beneficiar de um alcance muito confiável e de baixa.</p>
							<p>Data center: Os clusters são construídos exclusivamente em Data Center Tier-4 da Equinix.  Consequentemente, garantimos segurança física de primeira classe, instalações de energia e refrigeração, com um recorde comprovado de disponibilidade de 99,9999%</p>

							<p>Proteção DDoS: Proteção de ataques DDoS 24 horas por dia, 7 dias por semana, até 1500 Gbps.</p> 
							<p>Arquitetura Inquebrável: Soluções seguras ao mais alto nível de classificação por meio da arquitetura de segurança do Cyber ​​Tunnel e do uso de algoritmos e chaves de criptografia.</p>
							<p>Segurança física: Servidores em nuvem construídos exclusivamente em datacenters Equinix de primeira classe com as melhores certificações de segurança e conformidade de protocolo.</p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="rlp">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
								<span class="primary-text bold">Retail Liquidity Provider (RLP)</span>
							</button>
						</h2>
					</div>

					<div id="collapse10" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">
							<p>A oferta RLP está disponível no sistema de negociação PUMA Trading System da B3. Ela possibilita que a própria corretora, banco de investimento, banco múltiplo ou outro participante contratado pela corretora seja a contraparte das ordens de compra e venda de títulos e valores mobiliários de seus clientes de varejo, trazendo maior liquidez aos clientes para realizarem suas negociações nos mercados operados pela B3.</p>
							<p>A RLP foi desenvolvida junto com o mercado, em um processo de consulta pública, com o objetivo de aperfeiçoar a regulamentação do mercado de capitais brasileiro para incentivar o crescimento dos investidores pessoas físicas atendidos pelas áreas de varejo dos bancos e corretoras.</p>

							<p>Esse novo tipo de oferta é exclusivo para ordens agressoras, ou seja, aquelas em que são negociados os melhores preços de compra e venda. Inicialmente, poderão ser negociados exclusivamente minicontratos futuros de dólar e índice.</p>

							<p>Leia mais no site da b3 ou procure conteúdo sobre RLP em sua corretora.</p>
							<a href="http://www.b3.com.br/pt_br/solucoes/plataformas/puma-trading-system/para-participantes-e-traders/regras-e-parametros-de-negociacao/novo-tipo-de-oferta-retail-liquidity-provider-rlp/" target="_blank">http://www.b3.com.br/pt_br/solucoes/plataformas/puma-trading-system/para-participantes-e-traders/regras-e-parametros-de-negociacao/novo-tipo-de-oferta-retail-liquidity-provider-rlp/</a>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="investimento_automatizado">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
								<span class="primary-text bold">O que é um Sistema de Investimento Automatizado e sua história</span>
							</button>
						</h2>
					</div>

					<div id="collapse11" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">
							<p>É um sistema de negociação que utiliza modelos matemáticos avançados e complexos e fórmulas para fazer transações de alta velocidade nos mercados financeiros de acordo com a programação parametrizada previamente no algoritmo. O Algo Trading envolve o uso de programas de computador rápidos e algoritmos complexos para criar e determinar estratégias de negociação para retornos ideais.</p> 

							<p>É uma ferramenta que realiza a negociação de ativos financeiros de forma automática, técnica chamada, no inglês, de algorithmic trading ou algo trading. Em geral, são utilizados para negociações de largo volume, em que negociar a quantidade desejada de uma vez só alteraria o preço de mercado do ativo negociado - o robô, por sua vez, realiza a negociação ao longo do tempo utilizando algoritmos específicos.</p>

							<p>Em 2006, um terço de todas as negociações de ações nos Estados Unidos e na Europa eram feitas automaticamente por robôs de investimento. Um estudo de 2009 sugere que firmas de investimento utilizando robôs de alta frequência de negócio (HTF), um tipo de robôs de investimento, eram responsáveis por 60 a 73% do volume de negociação de ações nos Estados Unidos, sendo que o mesmo número caiu para 50% em 2012, segundo o New York Times.</p>

							<p>Em março de 2014, a Virtu Financial, uma trading de alta frequência, informou que durante cinco anos a empresa como um todo lucrou com 1.277 de 1.278 dias de negociação, perdendo dinheiro apenas um dia, demonstrando empiricamente a lei dos grandes números O benefício de negociar milhares a milhões de negócios pequenos, de baixo risco e de baixa margem em cada dia de negociação. Negociação algorítmica. Porcentagem do volume de mercado.</p>

							<p>Um terço de todas as transações de ações da União Europeia e dos Estados Unidos em 2006 foi impulsionado por programas automáticos ou algoritmos. A partir de 2009, estudos sugeriram que as empresas de HFT respondiam por 60% a 73% de todo o volume negociado de ações nos Estados Unidos, com esse número caindo para aproximadamente 50% em 2012. Em 2006, na Bolsa de Valores de Londres, mais de 40% de todos os pedidos foram inseridos por traders algorítmicos, com 60% previstos para 2007. Mercados americanos e europeus geralmente têm uma proporção maior de negócios algorítmicos do que outros mercados, e estimativas para 2008 tão alta quanto uma proporção de 80% em alguns mercados. Os mercados de câmbio também têm negociação algorítmica ativa (cerca de 25% dos pedidos em 2006). Mercados futuros são considerados relativamente fáceis de integrar em negociações algorítmicas, com cerca de 20% do volume de opções esperado para ser gerado por computador até 2010. Os mercados de títulos estão se movendo em direção a mais acesso a traders algorítmicos.</p> 

							<p>Os mercados financeiros com execução totalmente eletrônica e redes similares de comunicação eletrônica se desenvolveram no final dos anos 80 e 90. Nos EUA, a decimalização, que alterou o tamanho mínimo do tick de 1/16 de um dólar (US $ 0,0625) para US $ 0,01 por ação, pode ter incentivado a negociação algorítmica à medida que alterou a microestrutura de mercado ao permitir diferenças menores entre os preços de oferta e oferta, diminuindo a vantagem comercial dos market makers, aumentando assim a liquidez do mercado.</p> 

							<p>Esse aumento na liquidez do mercado levou os traders institucionais a dividir os pedidos de acordo com os algoritmos de computador, para que pudessem executar pedidos a um preço médio melhor. Esses benchmarks de preços médios são medidos e calculados por computadores, aplicando o preço médio ponderado pelo tempo ou, mais usualmente, pelo preço médio ponderado pelo volume. Acabou. O comércio que existiu ao longo dos séculos morreu. Nós temos um mercado eletrônico hoje. É o presente. É o futuro.</p>
							<p>Robert Greifeld, CEO da NASDAQ, abril de 2011.</p>
							<p>Um outro incentivo para a adoção do comércio algorítmico nos mercados financeiros veio em 2001, quando uma equipe de pesquisadores da IBM publicou um artigo na International Joint Conference on Artificial Intelligence, onde mostraram que em versões experimentais de laboratório dos leilões eletrônicos usados em mercados financeiros, duas estratégias algorítmicas (a própria MGD da IBM e a ZIP da Hewlett-Packard) poderiam consistentemente superar os traders humanos. MGD foi uma versão modificada do algoritmo "GD" inventado por Steven Gjerstad & John Dickhaut em 1996/7; o algoritmo ZIP foi inventado na HP por Dave Cliff (professor) em 1996. Em seu artigo, a equipe da IBM escreveu que o impacto financeiro de seus resultados mostrando MGD e ZIP superando os comerciantes humanos pode ser medido em bilhões de dólares anualmente. O papel da IBM gerou cobertura da mídia internacional.</p>

							<p>À medida que mais mercados eletrônicos se abriram, outras estratégias de negociação algorítmica foram introduzidas. Essas estratégias são mais facilmente implementadas por computadores, porque as máquinas podem reagir mais rapidamente a preços errôneos temporários e examinar os preços de vários mercados simultaneamente. Por exemplo, Chameleon (desenvolvido pelo BNP Paribas), Stealth (desenvolvido pelo Deutsche Bank), Sniper e Guerilla (desenvolvido pelo Credit Suisse), arbitragem, arbitragem estatística, tendência seguinte e reversão à média.</p> 

							<p>Esse tipo de negociação é o que está impulsionando a nova demanda por hospedagem de proximidade de baixa latência e conectividade de troca global. É imperativo entender o que é a latência ao montar uma estratégia para negociação eletrônica. A latência refere-se ao atraso entre a transmissão de informações de uma fonte e a recepção das informações em um destino. A latência é, como limite inferior, determinada pela velocidade da luz; isso corresponde a cerca de 3,3 milissegundos por mil quilômetros de fibra óptica. Qualquer equipamento de regeneração ou roteamento de sinal introduz uma latência maior que essa linha de base de velocidade da luz.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="investimento_automatizado">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
								<span class="primary-text bold">Robert Pardo - O homem que transformou as operações financeiras</span>
							</button>
						</h2>
					</div>

					<div id="collapse12" class="collapse show" aria-labelledby="headingOne" data-parent="#estrategia">
						<div class="card-body">

							<p>Depois de completar a graduação, em meados da década de 1970, Robert Pardo ingressou no pregão da bolsa de valores de Chicago. Ele conta que naquela época todos gritavam a oscilação dos preços como na cena de um filme. E foi nesse turbilhão de emoções que teve seu primeiro gatilho, ao perceber o quanto as pessoas ganhavam dinheiro com investimentos.</p>

							<p>Essa experiência lhe trouxe informações valiosas. Mas, além disso, Pardo ficou fascinado com o mercado de futuros, cujo mecanismo é parecido com o de opções, e análises gráficas. Assim, se aprimorou e passou a contribuir em negociações de larga escala. Porém, foi ao firmar parceria com um trader local que começou a trabalhar na automatização das operações financeiras.</p>
							<p>Em 1983, quando os microcomputadores ainda surgiam nos Estados Unidos e no mundo, ele já se transformava. O formato de negociação sistematizada, que não era real time, como temos atualmente, era descoberto por ele com uma plataforma conectada à internet e tudo mais. Uma grande revolução para aquele tempo!</p>
							<p>Bob, como também é chamado, também estudava bases de dados para desenvolver táticas para operar. E, assim, criou a Walk Forward Analysis: feita para testar a robustez das estratégias e ajustá-las às condições atuais de mercado. Uma técnica muito utilizada no mundo por vários dos principais traders individuais e gestores de fundos.</p>

							<p>Por isso, Robert Pardo é a lenda e a referência que é hoje. Foi ainda pioneiro em software de análise técnica e fundamental para estabelecer as bases de toda sistematização com robôs. Agora, preside a Pardo Capital Limited, é precursor de diversos programas sofisticados para traders e autor de dois livros. E, claro: continue a investir e a buscar o seu melhor sempre.</p>
							<p><strong>A importância da Walk Forward Analysis (WFA)</strong></p>
							<p>Todas essas criações, no entanto, exigiram de Pardo um estudo exaustivo. Com a sofisticação dos sistemas, suas explorações se ampliaram. Munido de uma variedade de inteligência artificial e métodos numéricos avançados, ele concentrou-se em otimizar e validar as estratégias de negociação de forma ainda mais confiável. Tudo para eliminar o “excesso de ajuste”.</p>
							<p>E conseguiu. Se uma estratégia passa no teste de robustez da Walk Forward Analysis, Pardo tem plena confiança de que ela vai realmente funcionar. O contrário jamais aconteceu. Ou seja, suas manobras sempre performaram bem. Portanto, Bob consegue desenvolver novas e colocá-las para funcionar, a todo vapor, de modo imediato. O que é impressionante!</p> 
							<p>Então, em linhas gerais, a Walk Forward Analysis significa ‘projetar o futuro espelhando-se no passado’. Para isso são utilizados alguns meses de histórico no chamado backtest. Todavia, existem múltiplas janelas para se fazer isso. E essa foi a técnica que Robert Pardo e o trader parceiro desenvolveram nesse período.</p>
							<p>A Walk Forward Analysis se tornou, então, tão crucial que Bob e muitos traders individuais a utilizam até hoje. Já a operação com robôs em tempo real começou em 1998. Dessa forma, e com 20 anos de bagagem, ele sabe da assertividade da análise e não faz mais o que chamamos de “incubação”. Isso quer dizer: eliminou os testes de estratégia em conta real ou demo.</p>
							<p>Isso explica:</p>

							<p>Por que ele é um dos traders mais respeitados do mundo</p>
							<p>Quando perguntei isso para o Bob, ele brincou que foi a sorte que o ajudou. Mas, a verdade é que, além da consistência, dos múltiplos mercados – cerca de 39 – e dezenas de estratégias em que opera, o sucesso veio da sua paixão. Desde que se envolveu com esse trabalho, ele é um apaixonado pelo que faz e nunca parou de aprender.</p>

							<p>Pois, quanto mais você entende as aplicações e os métodos de negociação, mais eles se tornam interessantes. Isso porque, com o conhecimento, é sempre possível superar expectativas. E foram essas características reunidas que fizeram de Robert Pardo o trader que é hoje. Ele também comenta de um capítulo de um dos seus livros, chamado de “lucro perfeito”. Entenda:</p>

							<p>Segundo Bob, muitas pessoas acreditam numa quantia específica de dinheiro que podem obter dos investimentos. Mas elas apenas se limitam ao pensar dessa maneira. Já ele, nunca acreditou nisso e vê que esse resultado sempre pode ser muito maior. Neste caso, se você se aprimorar é imensurável o que poderá ganhar.</p>


							<p><strong>Vantagens do trading automatizado segundo Robert Pardo</strong></p>


							<ul>
								<li>
									<strong>Questão psicológica:</strong> não é você que está executando as entradas e saídas, então,
									psicologicamente é mais fácil do que tomar as decisões por conta própria;

								</li>
								<li><strong>A quantidade de mercados para operar:</strong> manualmente é difícil operar mais do que três
									mercados. Isso porque você não consegue olhar, analisar e negociar em todos eles ao mesmo
									tempo. Já os robôs conseguem fazer isso em diversas aplicações diferentes;

								</li>
								<li><strong>Consistência:</strong> uma estratégia boa é consistente, o que é muito complicado conseguir de forma
									manual. No trading automatizado você pode programar operações em múltiplos
									mercados e timeframes, o que o ser humano não consegue fazer sozinho.
								</li>
							</ul>

							<p>E um dos segredos para consistência do trader são as estratégias. Como por exemplo, as que utilizam tendências, outras que são contra-tendência, com vários tipos de mercado e períodos de negociação. 
							Vantagens e técnicas que Pardo usa para para ser consistente e que só o universo ilimitado do trading automatizado possibilita…</p>

							<p>Dessa forma, se algum investimento não traz resultados, não tem problema. Outros trarão. Por isso, em todos esses anos de histórico, Bob tem somente três meses estagnação e drawdowns muito baixos. Sua consistência vem de múltiplas estratégias sempre atualizadas para as condições atuais de mercado, chamadas por ele de fresh, e investimentos.</p>

							<p>Fonte: escrito por Marcello Vieira em investidor de sucesso.</p>

							<p><strong>Livros escritos por Robert Pardo:</strong></p>
							- The Evaluation and Optimization of Trading Strategies (Wiley Trading)<br>
							- Design, Testing, and Optimization of Trading Systems (Wiley Trader's Exchange)<br>
							- The Evaluation and Optimization of Trading Strategies




						</div>
					</div>
				</div>


			</div>






		</div>
	</section>

</div>



<%- include('whatsapp_box')%>


