<%- include('../includes/menu_header'); %>

<div class="page-content">
	<section class="margin-bottom-sm">
		<div class="container-fluid">

			<div class="card">

				<div class="tab_container">
					<div class="tab_header active inline">Conta</div>
					<a class="ajax-load" href="/sistema/automacao/parametros">
						<div class="tab_header inline">Parâmetros</div>
					</a>
				</div>

				<div class="row d-flex align-items-stretch">

					<div class="col-sm-12">                           
						<div class="margin-t-10 padding-20">

							<form method="POST" action="" enctype="multipart/form-data" class="">

								<div class="row flex">
									<div class="form-group col-sm-12 col-md-4 row align-items-center">

										<label class="inline margin-r-10">Corretora</label>
										<select class="form-control col-md-8" name="corretora">
											<option selected disabled>Escolha uma Corretora</option>
											<option>Modal Mais</option>
											<option>Órama Investimentos</option>
											<option>Rico Investimentos</option>
											<option>Terra Investimentos</option>
											<option>XP Investimentos</option>
										</select>
									</div>


									<div class="form-group col-sm-12 col-md-3 row align-items-center">
										<label class="inline margin-r-10">Conta MT5</label>
										<input type="text" class="form-control  col-md-8" name="conta" placeholder="Conta MT5">
									</div>

									<div class="form-group col-sm-12 col-md-3 row align-items-center">
										<label class="inline margin-r-10">Senha</label>
										<input type="password" class="form-control col-md-8" name="senha" placeholder="Senha">
									</div>

									<div class="form-group col-sm-12 col-md-2 row align-items-center text-align-center">
										
										<button type="button" data-href="/sistema/adicionar_usuario_corretora/" class="btn btn-success-light w100px ajax-submit mx-auto" title="Enviar" data-action="/sistema">Enviar</button>
									</div>


								</div>


							</form>



						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>

</div>