

<div class="padding-10">
	<h5>Carregar algoritmo otimizado por I.A</h5>

	<div class="margin-b-10">
		Você está de acordo com os <strong>termos de uso</strong>?

		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input">
			<label class="form-check-label">Li e aceito os termos</label>
		</div>

	</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<div class="modal-footer">

			
			<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Fechar</button>

			<button data-to='container_formulario'  data-href="/sistema/automacao/carregar_parametros_algoritmo/" class="btn ajax-load-to-btn btn-success-light margin-t-10 margin-b-10 float-left" data-dismiss="modal">Sim %>											
			</button>


		</div>
	</form>

</div>

