

<div class="padding-10">
	<h5>Carregar algoritmo otimizado por I.A</h5>

	<div class="margin-b-10">
		Você está de acordo com os <strong>termos de uso</strong>?

		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input aceito-termos" id="li_aceito_carregar_algoritmo" data-disabled="carregar_parametros_algoritmo_popup">
			<label class="form-check-label" for="li_aceito_carregar_algoritmo">Li e aceito os termos</label>
		</div>

	</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<div class="modal-footer">

			
			<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Fechar</button>

			<button data-to='container_formulario' disabled data-href="/sistema/automacao/carregar_parametros_algoritmo/" class="btn btn-disabled ajax-load-to-btn margin-t-10 margin-b-10 float-left carregar_parametros_algoritmo_popup" data-dismiss="modal">
			Carregar algoritmo											
			</button>


		</div>
	</form>

</div>

