

<div class="padding-10">
	<h5>Sincronizar estratégia otimizada da Metaquotes?</h5>

	<div class="margin-b-10">
		Você está de acordo com os <strong>termos de uso</strong> da  estratégia?

		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input aceito-termos" id="li_aceito_termos_estrategia" data-disabled="sincronizar_estrategia_algoritmo_popup">
			<label class="form-check-label" for="li_aceito_termos_estrategia">Li e aceito os termos</label>
		</div>

	</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<div class="modal-footer">

			
			<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Fechar</button>

			<button disabled data-href="/sistema/automacao/sincronizar_estrategia_algoritmo/" class="btn ajax-submit btn-disabled margin-t-10 margin-b-10 float-left sincronizar_estrategia_algoritmo_popup " data-dismiss="modal">
			Sincronizar Estratégia											
			</button>


		</div>
	</form>

</div>

