<%- include('../includes/menu_header'); %>

<div class="page-content">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<div class="card">

				<div class="row margin-t-10">
					<div class="col-sm-12">
						<div class="padding-20">
							White Box Hedge

							<form method="POST" action="" enctype="multipart/form-data">

								<div class="mb-3 row">
									<label for="nome" class="col-sm-2 col-form-label">Nome</label>
									<div class="col-sm-10">
										<input type="text" name="nome" class="form-control" placeholder="Nome">
									</div>
								</div>


								<div class="mb-3 row">
									<label for="nome" class="col-sm-2 col-form-label">CPF</label>
									<div class="col-sm-10">
										<input type="text" name="cpf" class="form-control" placeholder="000.000.000-00">
									</div>
								</div>

								<div class="mb-3 row">
									<label for="email" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<input type="text" name="email" class="form-control" placeholder="email@email.com">
									</div>
								</div>




								<div class="mb-3 row">
									<label for="nivel" class="col-sm-2 col-form-label">Tipo</label>
									<div class="col-sm-10">
										<select id="adicionar_usuario_nivel_select" class="form-control" aria-label="Default select example" name="nivel">
											<option value="3" selected>Cliente</option>
											<option value="2">Parceiro</option>
										</select>
									</div>
								</div>





							</form>

						</div>


					</div>
				</div>
			</div>
		</div>
	</section>






