<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<section class="margin-bottom-sm">
			<div class="container-fluid">
				<div class="card">

					<div class="padding-20">

						<div class="text-center f20">
							Por-favor entrar em contato com o suporte para fazer o upgrade do algoritmo!
						</div>
						
					</div>



				</div>
			</div>
		</section>

	</div>





</div>

