$primary-color:#003475;
$secondary-color:#ffffff;
$tertiary-color:#576271;

.block {
	color: $secondary-color;
}

.block.white{
	background:#ffffff;
	border-radius:25px;
}

.block-color{
	color: $primary-color;
}

.primary-background{
	background:$primary-color;
}

.page-header {
	background: $primary-color;
	color: $secondary-color;
}

.dropdown-menu {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
	color: $secondary-color;
	background: $primary-color;
	border: 1px solid #393c43;
}

.dropdown-menu a:hover {
	background: #DB6574;
	color: #fff;
}

.login-page .form-holder .form {
	background: $primary-color;
}

.modal-open .modal .modal-header,
.modal-open .modal .modal-footer {
	border-color: #3d4148;
}

.modal-open .modal .modal-content {
	border-radius: 0;
	background: #ffffff;
}

.modal-open .modal .close {
	color: $secondary-color;
	opacity: 1;

	&:hover,&:focus{
		outline:none;
	}

}

.page-content {
	background: #f7f9fb;
	padding-top:20px;
}

.block .title strong:first-child{
	color: #363739;
}

nav.navbar {
	background: $primary-color;
	color: $secondary-color;
}

nav.navbar .sidebar-toggle {
	background: #282b2f;
	color: $secondary-color;
	border: 2px solid #3d4148;
}

nav#sidebar {
	background: $secondary-color;
	color: #6a6c70;
	position:relative;
	/* shrinked navbar */
}

nav#sidebar ul{
	margin-top:20px;
}

nav#sidebar li.active > a {
	color: $primary-color;
	font-weight: bold;
	background:#d5e1f2;
}

nav#sidebar li.active i{
	color: $primary-color;
}

nav#sidebar li a:hover {
	color:$primary-color;
}

nav#sidebar li li a {
	background: #22252a;
}

nav#sidebar li li a:hover {
	background: #292c32;
}

nav#sidebar li a:hover i {
	color: $primary-color;
}

.table td,
.table th {
	border-color: #343a40;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #282b2f;
}

.table-striped tbody tr:nth-of-type(odd):hover {
	background-color: #26292d;
}

.public-user-block .contributions {
	background: #26292d;
}

.form-control {
	border: 1px solid #444951;
	color: #afafaf;
	border-radius: 5px;
	background:#fff;
}

.sucess-block{
	background: #8af953a6;
	color: #fff;
}

.warning-block{
	background: #f7d350a6;
	color: #fff;
}

.warning2-block{
	border: 1px solid #f7d350;
	color: #8a8d93;

	.warning2-block-title{
		color:#f7d350
	}
}

.error-block{
	background: #d44658a6;
	color: #fff;
}

.dashtext-2 {
	color: #8af953 !important;
}

.checkbox-template::before,
.radio-template::before {
	background: #8a8d93;
}

.checkbox-template:disabled::before,
.radio-template:disabled::before {
	border-color: rgba(118, 118, 118, 0.3);
	cursor: default;
	background:#4a4a4a;
}

.checkbox-template:disabled::after, 
.radio-template:disabled::after{
	cursor: default;
}

.radio-template:disabled:checked::after{
	background:#929292;
}

.checkbox-template:disabled:checked::after{
	color:#929292;
}

nav#sidebar a[aria-expanded="true"] {
	background: #34373d;
}

.footer{
	background:$primary-color;
}

.form-control:disabled, .form-control[readonly] {
	border: 1px solid #4a4a4a;
	background: none;
	color: #363739;
}

.form-control:focus {
	color: #363739;
	border-color: #656ed0;
	outline: none;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(101, 110, 208, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(101, 110, 208, 0.25);
}

.form-control::placeholder {
	color: #afafaf;
}

.form-control:-ms-input-placeholder {
	color: #afafaf;
}

.form-control::-ms-input-placeholder { 
	color: #afafaf;
}

.form-control:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #505358 inset;
	-webkit-text-fill-color: #afafaf;
}

.form-control:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px #505358 inset;
	-webkit-text-fill-color: #afafaf;
}

.color-disabled{
	color: #545454!important;
}


.total_operacoes_color{
	color: #bfc1c4;
}

.total_operacoes_color_n{
	color: #bfc1c4;
}


.numero_acertos_color{
	color:#bfc1c4;
}
.numero_acertos_color_n{
	color: #bfc1c4;
}

.block-border-bottom{
	border-bottom: 1px solid #505358;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate{
	color: #8a8d93;
}

.login-page input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #2d3035 inset;
	-webkit-text-fill-color: #8a8d93;
}

.login-page input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px #2d3035 inset;
	-webkit-text-fill-color: #8a8d93;
}

.login-page input {
	filter: none;
}

.error_border{
	border: 1px solid #d44658a6;
}

.error_text_color{
	color: #d44658;
}

.loader .text-center{
	color: #000;
}

.sucess-block-link-color{
	color: #172f0b;

	&:hover{
		color:#fff;
	}
}

.welcome-box{
	background:#8a8d93;
	color:#000;

	h1{
		color:#fff;
	}

	.number-bigger{
		font-weight:bold;
		font-size:1.3rem;
		color:#fff;
	}

}


.btn-success-color{
	background:#8af953;

	&:hover:not([disabled]){
		background:#4bab1c;
	}

	&:focus{
		-webkit-box-shadow: 0 0 0 0.2rem rgba(138,249,83,0.25);
		box-shadow: 0 0 0 0.2rem rgba(138,249,83,0.25);
	}

}

.sucess-block-trader-color{
	border:1px solid #8af953;
}

::-webkit-calendar-picker-indicator{
	filter: invert(72%) sepia(43%) saturate(5216%) hue-rotate(310deg) brightness(89%) contrast(91%);
}


.btn_modal_close{
	background:#eaeaea;

	&:hover{
		background:#d0d0d0;  
	}

	&:focus{
		-webkit-box-shadow: 0 0 0 0.2rem rgba(234,234,234,0.25);
		box-shadow: 0 0 0 0.2rem rgba(234,234,234,0.25);
	}  

}

.border-sucess{
	border:1px solid #8af953;
}


.calculadora_profitable_background{
	background: #b03fe7;
	padding: 20px;
	border-radius: 10px;
	position: absolute;
	width: 100%;
	margin-top: -10px;
	z-index: 5;
}

.box_shadow_profitable_background{
	box-shadow:1px 1px 20px 0px #b03fe7; 
}

.calculadora_risck_background{
	background: #6672fc;
	padding: 20px;
	border-radius: 10px;
	position: absolute;
	width: 100%;
	margin-top: -10px;
	z-index: 5;
}

.box_shadow_risck_background{
	box-shadow:1px 1px 20px 0px #6672fc; 
}


.overlay_cpf{
	color: #ccc;    
	position: absolute;
	width: calc(100% - 102px);
	height: calc(100% - 136px);

	div{
		position:absolute;
		z-index: 2;
	}

	div:nth-child(1){
		top: 0;    	
		left: 10px;
	}
	div:nth-child(2){
		top: 30px;    	
		right: 10px;
	}
	div:nth-child(3){
		top: 10%;    	
		left: 10%;
	}

	div:nth-child(4){
		top: 50%;    	
		left: 10%;
	}

	div:nth-child(5){
		top: 35%;    	
		right: 10%;
	}
	div:nth-child(6){
		bottom: 10px;    	
		right: 10px;
	}

	div:nth-child(7){
		bottom: 12%;    	
		left: 15px;
	}
}

.profile-container{
	float: left;
	
}

.circle-profile-photo{
	height: 40px;
	width: 40px;
	border-radius:50%;
	overflow: auto;
	float: left;

	img{
		height: 100%;
		width: 100%;
	}
}

.logout-container{
	float: left;
	margin-left: 10px;

	.logout{
		margin-top: 10px;
	}
}

.profile-nome{
	margin-top: 10px;
	margin-left: 5px;
	display: inline-block;
}

.notificacoes-container{
	float: left;
	margin-top:10px;
	margin-right: 15px;

	i{
		font-size:20px;
	}
}

.minha-conta-container{
	float: left;
	margin-top:10px;
	margin-right: 15px;
}

.header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: $primary-color;
	color: $secondary-color;

	.navbar-header{
		height: 60px;
		width: 100%;
		z-index: 2;
	}

	a{
		color: $secondary-color;
	}

	.header-items{
		margin-top: 10px;
		margin-bottom:10px;
		margin-right: 15px;
	}


	.navbar-brand{
		height: 100%;
		box-shadow: -2px 4px 10px 2px #000;
		padding-left: 10px;
		width: 230px;
		text-align: center;
	}

	.logo{
		margin-top:10px;
	}
}

.primary-text{
	color: $primary-color!important;
}

nav#sidebar .sidebar-suporte{
	bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;

	i{
		font-size:32px;
	}
}

.menu-color{
	color:#576271!important;
}

.bg-background-1{
	background: #003475;
	background: -moz-linear-gradient(left, #003475 0%, #00b0e6 100%);
	background: -webkit-linear-gradient(left, #003475 0%,#00b0e6 100%);
	background: linear-gradient(to right, #003475 0%,#00b0e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003475', endColorstr='#00b0e6',GradientType=1 );
}

.header-actions{
	height: 60px;
	margin-bottom: 10px;
}

.item-menu{
	padding: 5px 0;
	margin-top:5px;

	&.active{
		color: $primary-color!important;
		font-weight: bold;
		background: #d5e1f2;
	}

	&:hover{
		color: $primary-color!important;
	}

}


.price-container{
	margin-top: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.price-table-container{
	width: 400px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
}


.price-table-border-top{
	background:$primary-color;
	border-radius:5px 5px 0 0;
	height: 15px;
	width: 100%;
}

.price-table{
	border-radius:0 0 5px 5px;
	box-shadow: 1px 1px 10px #4c4c4c;
	width: 100%;
}

.tertiary-color{
	color: $tertiary-color;
}



.price-table-title{
	text-align: center;
}

.price-table-rentabilidade-container{
	display: flex;
	align-items:center;
	text-align: center;

	img{
		vertical-align: middle;
		width: 80px;
		height: 80px;
		margin-left: 10px;
	}
}



.price-table-image{
	width: 30%;
}

.price-table-porcentagem-container{
	width: 70%;
}

.price-table-porcentagem{
	color:$primary-color;
	font-size:32px;
	font-weight: bold;
}

.price-table-porcentagem-label{
	margin-top: 5px;
	text-align: center;
	color: $tertiary-color;
}

.price-table-tabela{
	margin-top: 30px;
	padding:0 10px;
	display: inline-block;
	width: 100%;
}

.price-table-tabela-row{
	color: $tertiary-color;
	width: 100%;
}

.price-table-tabela-left{
	text-align: left;
	display: inline-block;
	width: 50%;
}

.price-table-tabela-right{
	text-align: right;
	display: inline-block;
	width: 50%;
}

.price-table-footer-group-buttons{
	text-align: center;
	border-top:1px solid $tertiary-color;
	margin:0 10px;
	padding:10px;
}

.price-table-footer-button-price{
	border:1px solid #7bc24d;
	color:$tertiary-color;
	border-radius: 25px;
	padding: 5px 30px;
}

.price-table-footer-button-signup{
	background:#7bc24d;
	color:#fff;
	border-radius: 25px;
	padding: 5px 30px;

	&:hover{
		color: #fff;
		background:#508c29;
		cursor: pointer;
	}

}

.success-color{
	color: #7bc24d;
}

.negative-color{
	color: #a7bcfc;
}

.valor_alocado_container{
	background: #fff;
	display: inline-block;
	border-radius: 10px;
	box-shadow: 1px 1px 10px #000;
	margin-left: 20px;

}

.valor_alocado_price_table{
	background:$primary-color;
	color: #fff;
	padding:5px 20px;
	text-align: center;
	border-radius:10px;
	margin-bottom:0;
	
}

.valor_alocado_value_container{
	display: inline-block;
	padding: 0px 10px;

	select{
		border: none;
		width: 100%;
		padding: 0px 15px;

		&:focus{
			border:none;
			outline: none;
		}
	}

}



.relatorio_table{
	thead{
		background:$primary-color;

		th{
			color: #fff;
		}

	}

}


// .relatorio_table{
// 	.relatorio_cabecalho{
// 		background:$primary-color;
// 		border-radius: 10px;
// 	}

// 	.relatorio_cabecalho_titulo{
// 		color: #fff;
// 	}
// }


.table-striped tbody tr:nth-of-type(odd){
	background:#fff;

	&:hover{
		background:none;
	}
}

.table-striped tbody tr:nth-of-type(even){
	background:#e6e7e8;

	&:hover{
		background:#e6e7e8;
	}
}

.border-bottom-pontilhado{
	border-bottom:1px dashed #000000;
}

.border-bottom-pontilhado-primary{
	border-bottom:1px dashed $primary-color;
}

.border-bottom-solid{
	border-bottom:1px solid #000000
}

.fake_input{
	border: 1px solid #afafaf;
    color: #000000;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    padding:5px 20px;
}

.border-top-gray{
	border-top:1px solid #afafaf;
}

.accordion .card-header{
	background:#fff;
	border-bottom:1px solid #afafaf;
}

.secondary-color-background{
	background:#d5e1f2;
}


