$primary-color:#da6600;
$secondary-color:#202738;


.login-page {




	.container_login {
		min-height: 100vh;
		z-index: 1;
		// display: flex;
		// align-items: center;
		// flex-direction: column;
		// justify-content: center;

	}

	.row_min{
		min-height: 100vh;
		margin:0;
	}




	.btn-primary{
		width: 100%!important;
		margin-top:10px;

	}

	.resend-pass{
		background: #3598db;
		border-color: #3598db;
		color: #fff;

		&:hover,&:active{
			background:#1c79b7!important;
			border-color: #1c79b7 !important;
			-webkit-box-shadow:0 0 0 0.2rem rgba(53,152,219,0.5)!important;
			box-shadow: 0 0 0 0.2rem rgba(53,152,219,0.5)!important;
		}

		&:focus{
			-webkit-box-shadow:0 0 0 0.2rem rgba(53,152,219,0.5);
			box-shadow: 0 0 0 0.2rem rgba(53,152,219,0.5);
		}

	}

	.margin-t-20{
		margin-top:20px;
	}

	.logo_title{
		color: #c1c1c1;
		margin-bottom: 20px;
		font-size: 25px;
	}

	.conectar_conta{
		color: #c2cdd2;
		font-size: 30px;
		margin-bottom: 40px;
		text-align: center;
	}

	.checkbox-template:checked::before, .radio-template:checked::before{
		background:#3598db;
		border: none;
	}

	.btn_modal_close{
		background:#cacaca;
	}

}

.login_background::before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
  // background: url('/public/images/login_background.jpeg');
  // background-size: cover;
  background: #eaeaea;
  position: absolute;
  top: 0;
  right: 0;
  background:linear-gradient(135deg, #000000 0%,#0b2258 100%);
  background-image:url('/public/images/login_background.png');
  background-size:cover;
}


.login-page .form-holder .info {
	background: linear-gradient(135deg, #5f381b 0%,#da6600 100%);
	color: #fff;
}

.login-page .form-holder .form a.forgot-pass, .login-page .form-holder .form a.signup{
	color: #3598db;
	float: right;
	margin-bottom:10px;

	&:hover{
		color:#1c79b7;
	}
}

.login-page input.input-material:focus {
	border-color: #3598db;
}

.login-page input.input-material ~ label.active{
	color: $primary-color;
}

.login-page input:not([type='checkbox']){
	border-color: #c3c3c3;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	height: 40px;
}

.login-page .form-holder{
	border-radius: 10px;
}

.login-page .form-holder .form{
	min-height: 40vh;
	padding: 20px;
}



.byinvicton{
	position:absolute;
	z-index: 25;
	opacity: 0.8;
	width:200px;
}

.e_investor_smart_cloud{
	position:absolute;
	bottom:0;

	img{
		width: 100%;
	}
}


.logo_investor{
	margin-top:70px;

	img{
		width:100%;
	}
}

.login_subtitulo{
	margin-top:10px;
	font-size:12px;
}

.system_cpu_type{
	margin-top:20px;
}

.traffic_and_bandwidth{
	margin-top:20px;
}

.box_company{
	width:100%;
	height: 40px;
	position:absolute;
	bottom:0;
	left:0;
	background:#0000007d;
	margin-right: 15px;


	// .hippa{
	// 	width:200px;
	// 	height: 30px;
	// 	background:url('/public/images/HIPPA.png');
	// }
}







.login-page input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset!important;
	-webkit-text-fill-color: #8a8d93;
}

nav.navbar .sidebar-toggle{
	background:$secondary-color;
	border-color:#333d54;
}

nav.navbar{
	background:$secondary-color;
	border-color:#333d54;
}


nav#sidebar{
	background:$secondary-color;
}

nav#sidebar li.active i{
	color: $primary-color;
}

a:focus, a:hover{
	color: $primary-color;
}

nav#sidebar li a:hover{
	background:#252e42;
}


nav#sidebar li.active::before{
	background:$primary-color;
}

nav#sidebar li.active>a{
	border-color:$primary-color;
	background:#333d54;
}

nav#sidebar li a:hover i{
	color: $primary-color;
}


nav#sidebar a[aria-expanded="true"]{
	background:#0c1221;
}

nav#sidebar li li a{
	background:#0c1221;
}

nav#sidebar li li a:hover{
	background:$secondary-color;
}



.text-primary{
	color: $primary-color!important;
}

.form-control:focus{
	-webkit-box-shadow: 0 0 0 0.2rem rgba(218,102,0,0.25);
	box-shadow: 0 0 0 0.2rem rgba(218,102,0,0.25);
	border-color: $primary-color;
}

.form-control:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px #505358 inset!important;
	-webkit-text-fill-color: #afafaf;
}


.block{
	background:$secondary-color;
}

.dashtext-3{
	color: $primary-color!important;
}

.page-header{
	background: $secondary-color;
}

.btn.transparent{
	border-color:$primary-color;
	color: $primary-color;

	&:hover{
		border-color:#bd5900;
	}
}

.public-user-block .contributions{
	background:$primary-color;
	color: #fff;
}

.checkbox-template:checked::before, .radio-template:checked::before{
	background:$primary-color;
}


::-webkit-calendar-picker-indicator{
	filter: invert(38%) sepia(88%) saturate(1233%) hue-rotate(8deg) brightness(93%) contrast(100%);
}

.footer{
	background:$secondary-color!important;
}

.custom-select:focus{
	border-color:$primary-color;
}

.primary-text{
	color: $primary-color;
}

.textarea_lined{
	&:focus{
		border:1px solid $primary-color;
	}
}


.flipdown_box{
	margin-bottom: 20px;
}

.flipdown_box span{
	font-size:24px;
}

.dica_icone{
	width: 20px;
	height: 20px;
	filter: invert(40%) sepia(54%) saturate(2603%) hue-rotate(12deg) brightness(95%) contrast(104%);
}

.primary-block{
	background:$primary-color;
	color:#fff;
}

.border-primary{
	border:1px solid $primary-color!important;
}


.warning-color{
	color: #f7d350!important;
}

.warning-color strong{
	color: #f7d350!important;
}

.warning-border-top{
	border-top: 1px solid #f7d350;
	margin-top: 10px;
	padding-top: 10px;
}

.secondary-text{
	color:$secondary-color;
}


.operacoes_trader_label{
	width: 120px;
	height: 90px;
	display: inline-block;
	background: #984800;
	color: #fff;
	text-align: center;
	vertical-align: top;

	span{
		margin-top:20px;
	}


}

.operacoes_trader_exibicao{
  // width: calc(100% - 180px);
  // height: 30px;
  // display: inline-block;
  // overflow-x: visible;
  // background: #fff;

  width: calc(100% - 130px);
  overflow-x: auto;
  white-space: nowrap;
  height: 110px;
  display: inline-block;

}


.operacoes_trader_exibicao_sp{
	display: inline-block;
	padding: 20px;
	border-right: 1px solid #984800;
}