<%- include('../includes/menu_header'); %>

<div class="page-content">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<div class="card">

				<form method="POST" action="" enctype="multipart/form-data">
					<div class="row margin-t-10">
						<div class="col-sm-12">
							<div class="valor_alocado_container margin-t-10">


								<label class="valor_alocado_price_table">
									Valor Alocado:								
								</label>
								<div class="valor_alocado_value_container">




									<select class="form-select table-price-selector clean-container-message" data-href="/plataforma/sistema/relatorios/select_nome_robo" data-clean="relatorios-container" data-clean-mensagem="Por favor escolha um valor e um sistema para gerar o relatório!" data-to="select-nome-robo" aria-label="Selecione um valor" name="valor_minimo">
										<option selected disabled>Selecione um valor</option>
										<%
										if (typeof data[usuario.id +'_robo_t'] != 'undefined' && data[usuario.id +'_robo_t'].length > 0) {
											for (var i = 0 ; i < data[usuario.id +'_robo_t'].length; i++) {
												%>
												<option class="batata" value="<%= data[usuario.id +'_robo_t'][i].valor_minimo %>"><%=data[usuario.id +'_robo_t'][i].valor_minimo_robo %></option>

												<%}
											} %>

										</select>



									</div>
								</div>

								<div class="valor_alocado_container margin-t-10">


									<label class="valor_alocado_price_table">
										Selecione um Sistema:								
									</label>
									<div class="valor_alocado_value_container">




										<select class="form-select table-price-selector select-nome-robo" data-href="/plataforma/sistema/relatorios/gerar_relatorio_robo" data-to="relatorios-container" aria-label="Selecione um valor" name="id_robo">
											<option selected disabled>Selecione o valor primeiramente!</option>


										</select>



									</div>
								</div>

							</div>
						</div>
					</form>



					<div class="row">
						<div class="col-sm-12">


							<div class="relatorios-container margin-t-20">


								<div class="text-center">Por favor escolha um valor e um sistema para gerar o relatório!</div>


							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

	</div>






