<div class="padding-10">
	<h5>Desativar Conta</h5>

	<div class="margin-b-10">

		<p>Você tem certeza que deseja desativar esta conta? Esta função é irreversível!</p>

		<p>Se houve qualquer problema com a integração e sincronização com a sua corretora por favor entre em contato com <a 	href="mailto:suporte@einvestor.com.br">suporte@einvestor.com.br</a></p>

		<p>O processo de desativação poderá levar até 5 dias úteis. </p>

	</div>

	<form method="POST" action="" enctype="multipart/form-data">

		<div class="modal-footer">

			
			<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Fechar</button>

			<button data-href="/plataforma/sistema/minha_conta/desativar_minha_conta/" class="btn btn-red ajax-submit-sucess-message margin-t-10 margin-b-10 float-left" data-sucesso-id="#mensagem_desativar_conta" data-dismiss="modal" data-action="/plataforma/sistema/" >
				Sim, desejo Desativar minha Conta											
			</button>


		</div>
	</form>

</div>

