	<%if(usuario.nivel == 1){%>

	<div class="padding-10">
		<h5>Conta e Corretoras Errado</h5>

		<div class="margin-b-10">
			Está certo que deseja <strong>invalidar</strong> a sincronização de <strong><%= data[usuario.id +'_usuario_sincronizacao_correto'].nome%></strong>?
			<br>
			O mesmo receberá um e-mail informando que o sistema <strong>NÃO</strong> está ativo.
		</div>

		<form method="POST" action="" enctype="multipart/form-data">

			<div class="modal-footer">

				<input type="hidden" name="id_usuario" value="<%= data[usuario.id +'_usuario_sincronizacao_correto']._id%>">

				<input type="hidden" name="id_corretora" value="<%= data[usuario.id +'_corretora_sincronizacao_correto'][0]._id%>">
				
				<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Fechar</button>

				<button type="button" data-href="/plataforma/sistema/administracao/dessincronizar-conta-corretora" class="btn red ajax-submit-sucess-message" title="Confirmar sincronização" data-action="/plataforma/sistema/administracao" data-dismiss="modal" data-sucesso-id="#alert-sucess-alterar-senha-usuario">Sim, desejo invalidar!</button>
			</div>
		</form>

	</div>

	<%}else{%>
	<div class="padding=10">
		Você não pode acessar essa funcionalidade!!!
	</div>
	<%}%>