	<%if(usuario.nivel == 1){%>

	<div class="padding-10">
		<h5>Ativar Licença</h5>

		<div class="margin-b-10">
			Você tem certeza que deseja enviar um e-mail pedindo ao  <strong><%= data[usuario.id +'_usuario_ativacao_licenca'].nome%></strong> para que o mesmo ative sua licença? 
			<br>
			Será enviado um e-mail para o <strong><%= data[usuario.id +'_usuario_ativacao_licenca'].email %></strong> pedindo que o mesmo ative sua licença.
		</div>

		<form method="POST" action="" enctype="multipart/form-data">

			<div class="modal-footer">

				<input type="hidden" name="id_usuario" value="<%= data[usuario.id +'_usuario_ativacao_licenca']._id%>">
			
				<button class="btn btn_modal btn_modal_close margin-r-10 pointer" data-dismiss="modal">Fechar</button>

				<button type="button" data-href="/plataforma/sistema/administracao/ativacao-licenca-usuario" class="btn btn-primary ajax-submit-sucess-message" title="Enviar Ativação Licença" data-action="/plataforma/sistema/administracao/usuarios" data-dismiss="modal" data-sucesso-id="#alert-sucess-alterar-senha-usuario">Sim</button>
			</div>
		</form>

	</div>

	<%}else{%>
	<div class="padding=10">
		Você não pode acessar essa funcionalidade!!!
	</div>
	<%}%>