<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<%- include('primeira_vez'); %>

		<%- include('popup_termos_uso');%>


		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="card margin-b-10">

					<div class="alert alert-success text-center none parametros_sincronizando">
						Sua estratégia está <strong>sincronizando</strong>, agora é só esperar de 1 a 3 dias úteis.
					</div>

					<div id="mensagem_desativar_conta" class="alert alert-danger text-center none">
						Ficamos tristes que você deseja desativar sua conta, entre 3 a 5 dias receberá um e-mail de suporte informando a desvinculação da E-Investor.
					</div>


					<div class="row">
						<div class="col-sm-12">



							<div class="slider-container">
								<div class="slide-item">
									<img src="/public/images/pdf/00.png">
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</section>



	</div>


	<script type="text/javascript">

		$('.slide-item').slick({
			dots: false
		});
	
	</script>


		


	</div>