<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<section class="margin-bottom-sm">
			<div class="container-fluid">
				<div class="card">
					<div class="row">
						<div class="col-sm-12">


							<div class="relatorio-container margin-t-20">


								<%-include('gerador_relatorio');%>


							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

	</div>






</div>