<%- include('../includes/menu_header'); %>

<div class="page-content">

	<section class="margin-bottom-sm">
		<div class="container-fluid">

			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">
							<div class="primary-text">F.A.Q</div>

							<ul>
								<li><a href="#preciso_fazer_download">Preciso fazer download de algo?</a></li>

								<li><a href="#necessario_programar">É necessário saber programar?</a></li>

								<li><a href="#quem_pode_utilizar">Quem pode utilizar?</a></li>

								<li><a href="#qual_desempenho_sistema">Qual é o desempenho do sistema?</a></li>

								<li><a href="#qual_valor_minimo">Qual o valor mínimo necessário para utilizar o sistema?</a></li>

								<li><a href="#quais_corretoras_sao_compativeis">Quais corretoras são compatíveis?</a></li>

								<li><a href="#sistema_metatrader_pago">O sistema Meta Trader 5 da Metaquotes Ltd. é pago?</a></li>

								<li><a href="#como_feito_pagamento">Como é feito o pagamento?</a></li>

								<li><a href="#posso_alterar_plano">Posso alterar o meu plano quando quiser?</a></li>

								<li><a href="#posso_cancelar">Posso cancelar a qualquer momento?</a></li>

								<li><a href="#oque_sistema_investimento_automatizado">O que é um Sistema de Investimento Automatizado?</a></li>

								<li><a href="#tenho_acesso_codigo_fonte">Tenho acesso ao código fonte do sistema?</a></li>

								<li><a href="#quais_ativos_trabalha">Em quais ativos ele trabalha?</a></li>

								<li><a href="#quais_os_riscos">Quais os riscos?</a></li>

								<li><a href="#existe_garantia_retorno">Existem garantias de retorno?</a></li>

								<li><a href="#oque_e_hitech_bancaria">O que é Hi-tech bancária?</a></li>

								<li><a href="#relatorios_ganho_rebaixamento">Os relatórios e dados financeiros de ganho e rebaixamento, são o quê?</a></li>

								<li><a href="#quem_utiliza_tecnologia">Quem utiliza esta tecnologia?</a></li>

								<li><a href="#oque_metaquotes">O que é Metaquotes?</a></li>

								<li><a href="#oque_strategyquant">O que é StrategyQuant?</a></li>

								<li><a href="#oque_algoritimo">O que é Algoritmo?</a></li>

								<li><a href="#oque_otimizacao_algoritmo_sistema">O que é otimização de algoritmo/parâmetros do sistema?</a></li>

								<li><a href="#oque_smart_cloud">O que é Smart Cloud?</a></li>

								<li><a href="#sistema_empresa_regulamentados">O sistema e a empresa são regulamentados?</a></li>




							</ul>




						</div>

					</div>
				</div>
			</div>


			<div class="accordion" id="preciso_fazer_download">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
								<span class="primary-text bold">Preciso fazer download de algo?</span>
							</button>
						</h2>
					</div>

					<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#preciso_fazer_download">
						<div class="card-body">

							<p>Não, o sistema funciona 100% on-line em nossa Smart Cloud dedicada de primeira linha. Basta você estar elegível, ler e aceitar os termos, configurar, escolher o plano e integrar sua conta.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="necessario_programar">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
								<span class="primary-text bold">É necessário saber programar?</span>
							</button>
						</h2>
					</div>

					<div id="collapse2" class="collapse show" aria-labelledby="headingOne" data-parent="#necessario_programar">
						<div class="card-body">

							<p>Não, o sistema é rápido, fácil, intuitivo e 100% on-line, a parametrização do algoritmo pode ser feita de maneira automática por você com um clique, com auxílio de I.A. (Inteligência Artificial) da MetaQuotes Ltd.</p>


						</div>
					</div>
				</div>


			</div>


			<div class="accordion" id="quem_pode_utilizar">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
								<span class="primary-text bold">Quem pode utilizar?</span>
							</button>
						</h2>
					</div>

					<div id="collapse3" class="collapse show" aria-labelledby="headingOne" data-parent="#quem_pode_utilizar">
						<div class="card-body">

							<p>Qualquer investidor qualificado via suitability (análise de perfil do investidor) na corretora, para que seja disponibilizada operações em renda variável por ela, cumprindo a Instrução 539 da CVM.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="qual_desempenho_sistema">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
								<span class="primary-text bold">Qual é o desempenho do sistema?</span>
							</button>
						</h2>
					</div>

					<div id="collapse4" class="collapse show" aria-labelledby="headingOne" data-parent="#qual_desempenho_sistema">
						<div class="card-body">

							<p>O Variable White Box Hedge é uma ferramenta de automação sem estratégias pré-definidas, os seus resultados variam de acordo com as estratégias que cada usuário selecionar manualmente ou via otimização.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="qual_valor_minimo">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
								<span class="primary-text bold">Qual o valor mínimo necessário para utilizar o sistema?</span>
							</button>
						</h2>
					</div>

					<div id="collapse5" class="collapse show" aria-labelledby="headingOne" data-parent="#qual_valor_minimo">
						<div class="card-body">

							<p>R$72.000,00 (Setenta e dois mil reais). Como chegamos ao valor mínimo de cada robô? O capital mínimo é baseado em margem necessária pela corretora e B3 - Bolsa de valores Brasileira para o número de lotes específicos nos ativos, e para segurança e um bom gerenciamento de risco mais 60% para flutuante e possíveis rebaixamentos de capital.</p>


						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="quais_corretoras_sao_compativeis">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
								<span class="primary-text bold">Quais corretoras são compatíveis?</span>
							</button>
						</h2>
					</div>

					<div id="collapse6" class="collapse show" aria-labelledby="headingOne" data-parent="#quais_corretoras_sao_compativeis">
						<div class="card-body">

							<p>Você pode usar Variable White Box Hedge em qualquer corretora brasileira que tenha suporte ao MetaTrader 5, operações automatizadas e posição em futuros. As corretoras compatíveis que fornecem a plataforma para integração necessária atualmente são: XP, Rico, Modal e Terra.</p>



						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="sistema_metatrader_pago">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
								<span class="primary-text bold">O sistema MetaTrader 5 da Metaquotes Ltd. é pago?</span>
							</button>
						</h2>
					</div>

					<div id="collapse7" class="collapse show" aria-labelledby="headingOne" data-parent="#sistema_metatrader_pago">
						<div class="card-body">
							<p>Não, as corretoras brasileiras oferecem a plataforma metatrader 5 produção (Conta real) de forma gratuita.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="como_feito_pagamento">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
								<span class="primary-text bold">Como é feito o pagamento?</span>
							</button>
						</h2>
					</div>

					<div id="collapse8" class="collapse show" aria-labelledby="headingOne" data-parent="#como_feito_pagamento">
						<div class="card-body">
							<p>O pagamento da licença de uso é feito recorrente e mensalmente, ou de acordo com o plano selecionado, via nossa Gateway de pagamentos, 100% segura integrada ao nosso sistema web.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="posso_alterar_plano">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
								<span class="primary-text bold">Posso alterar o meu plano quando quiser?</span>
							</button>
						</h2>
					</div>

					<div id="collapse9" class="collapse show" aria-labelledby="headingOne" data-parent="#posso_alterar_plano">
						<div class="card-body">
							<p>Sim, pode alterar o plano a qualquer momento e ele entrará em vigor assim que vencer o plano ativo e só será validado caso você esteja elegível ao plano de acordo com os pré-requisitos de margens e gerenciamento.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="posso_cancelar">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
								<span class="primary-text bold">Posso cancelar a qualquer momento?</span>
							</button>
						</h2>
					</div>

					<div id="collapse10" class="collapse show" aria-labelledby="headingOne" data-parent="#posso_cancelar">
						<div class="card-body">
							<p>Sim, a qualquer momento você pode cancelar o plano e no próximo mês já não haverá cobrança alguma, ao vencer o mês atual seu sistema será desativado e todos os dados deletados.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_sistema_investimento_automatizado">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
								<span class="primary-text bold">O que é um Sistema de Investimento Automatizado?</span>
							</button>
						</h2>
					</div>

					<div id="collapse11" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_sistema_investimento_automatizado">
						<div class="card-body">
							<p>É um software capaz de operar ativos financeiros de acordo com o algoritmo vigente, ou seja, com o código de estratégia (regras lógicas) inseridos em seus parâmetros, que podem variar de acordo com a intenção e estratégia do usuário. Conforme item 31 dos nossos <a class="ajax-load" href="/sistema/termos_uso">Termos e condições de uso - Avisos legais e de responsabilidade.</a></p>

						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="tenho_acesso_codigo_fonte">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
								<span class="primary-text bold">Tenho acesso ao código fonte do sistema?</span>
							</button>
						</h2>
					</div>

					<div id="collapse12" class="collapse show" aria-labelledby="headingOne" data-parent="#tenho_acesso_codigo_fonte">
						<div class="card-body">
							<p>Não, o sistema é propriedade intelectual e tem seus direitos restritos, protegidos e reservados a E-Investor, disponibilizamos o uso dele apenas de maneira digital em nossa SmartCloud de maneira simples e automatizada.</p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="quais_ativos_trabalha">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
								<span class="primary-text bold">Em quais ativos ele trabalha?</span>
							</button>
						</h2>
					</div>

					<div id="collapse13" class="collapse show" aria-labelledby="headingOne" data-parent="#quais_ativos_trabalha">
						<div class="card-body">
							<p>Ele trabalha nos mini contratos futuros do Índice Bovespa (WIN) e cambial Real-Dólar (WDO).</p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="quais_os_riscos">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
								<span class="primary-text bold">Quais os riscos?</span>
							</button>
						</h2>
					</div>

					<div id="collapse14" class="collapse show" aria-labelledby="headingOne" data-parent="#quais_os_riscos">
						<div class="card-body">
							<p>Os riscos são os mesmo de qualquer operação em renda variável e são do usuário investidor, por favor leia nosso setor de <a href="/sistema/termos_uso" class="ajax-load">Termos e condições de uso - Avisos legais e de responsabilidade.</a></p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="existe_garantia_retorno">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
								<span class="primary-text bold">Existem garantias de retorno?</span>
							</button>
						</h2>
					</div>

					<div id="collapse15" class="collapse show" aria-labelledby="headingOne" data-parent="#existe_garantia_retorno">
						<div class="card-body">
							<p>Absolutamente não, você estará utilizando uma ferramenta tecnológica para operar ativos financeiros de renda variável, o que requer um perfil adequado de exposição a rebaixamento de capital, não existem garantias de retorno ou de risco, sendo 100% responsabilidade do usuário investidor o seu uso, parametrização dos robôs e resultados. Por favor leia nosso setor de <a href="/sistema/termos_uso" class="ajax-load">Termos e condições de uso - Avisos legais e de responsabilidade.</a></p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_e_hitech_bancaria">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapse16">
								<span class="primary-text bold">O que é Hi-tech bancária?</span>
							</button>
						</h2>
					</div>

					<div id="collapse16" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_e_hitech_bancaria">
						<div class="card-body">
							<p>Hi-Tech bancária é a mais alta tecnologia utilizada por bancos e instituições financeiras de todo o mundo, desde Data analysis, posicionamento em servidores de primeira linha de alta disponibilidade e baixa latência, até softwares e algoritmos programados e operados com o auxílio de I.A. (Inteligência Artificial) para otimizar resultados operacionais e financeiros a seu favor e de seus clientes privados.</p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="relatorios_ganho_rebaixamento">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="true" aria-controls="collapse17">
								<span class="primary-text bold">Os relatórios e dados financeiros de ganho e rebaixamento, são o quê?</span>
							</button>
						</h2>
					</div>

					<div id="collapse17" class="collapse show" aria-labelledby="headingOne" data-parent="#relatorios_ganho_rebaixamento">
						<div class="card-body">
							<p>Os resultados e rebaixamentos mostrados no sistema são de caráter informativo e foram baseados nos últimos testes (Backtest) efetuados com os últimos parâmetros/algoritmos gerados por otimização por sistema da MetaQuotes Ltd. via I.A. - Inteligência artificial. Os desempenhos anteriores não são, necessariamente, indicativos de resultados futuros e nenhuma declaração ou garantia, de forma expressa ou implícita, é feita em relação a desempenhos futuros. Todo o material exposto não constitui recomendação ou serviço de análise de valores mobiliários. Por favor leia nosso setor de <a href="/sistema/termos_uso" class="ajax-load">Termos e condições de uso - Avisos legais e de responsabilidade.</a></p>




						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="quem_utiliza_tecnologia">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="true" aria-controls="collapse18">
								<span class="primary-text bold">Quem utiliza esta tecnologia?</span>
							</button>
						</h2>
					</div>

					<div id="collapse18" class="collapse show" aria-labelledby="headingOne" data-parent="#quem_utiliza_tecnologia">
						<div class="card-body">
							<p>Está tecnologia e conhecimento por muito tempo foi restrita somente a grandes bancos e instituições financeiras e investidores de alto nível, com um alto custo de equipe e desenvolvimento, equipamento e servidores, sempre foi muito difícil disponibilizar esta tecnologia ao investidor de varejo pelo seu alto custo e complexidade de configuração, o que tornava inviável financeira e tecnicamente a pequenos investidores. A tecnologia evoluiu e nos últimos anos este jogo mudou, e hoje podemos ter tecnologia de ponta para disponibilizar estes sistemas com alta estabilidade de maneira fácil e 100% digital a todo tipo de investidor qualificado e elegível, com uma equipe de T.I. altamente técnica e especializada ao mesmo nível institucional.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_metaquotes">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse19" aria-expanded="true" aria-controls="collapse19">
								<span class="primary-text bold">O que é Metaquotes?</span>
							</button>
						</h2>
					</div>

					<div id="collapse19" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_metaquotes">
						<div class="card-body">
							<p>MetaQuotes Ltd. é a empresa proprietária da plataforma Meta Trader que disponibiliza sistemas de alta tecnologia para instituições e investidores.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_strategyquant">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="true" aria-controls="collapse20">
								<span class="primary-text bold">O que é StrategyQuant?</span>
							</button>
						</h2>
					</div>

					<div id="collapse20" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_strategyquant">
						<div class="card-body">
							<p>StrategyQuant é a plataforma mais poderosa para gerar, desenvolver e pesquisar estratégias de negociação automatizada.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_algoritimo">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse21" aria-expanded="true" aria-controls="collapse21">
								<span class="primary-text bold">O que é Algoritmo?</span>
							</button>
						</h2>
					</div>

					<div id="collapse21" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_algoritimo">
						<div class="card-body">
							<p>
							Sequência finita de regras, raciocínios ou operações que, aplicada a um número finito de dados, permite solucionar classes semelhantes de problemas. Essas regras são os parâmetros a serem inseridos no sistema White Box que definem detalhes da estratégia e gerenciamento das operações.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_otimizacao_algoritmo_sistema">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse22" aria-expanded="true" aria-controls="collapse22">
								<span class="primary-text bold">O que é otimização de algoritmo/parâmetros do sistema?</span>
							</button>
						</h2>
					</div>

					<div id="collapse22" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_otimizacao_algoritmo_sistema">
						<div class="card-body">
							<p>
							É a pesquisa e desenvolvimento de estratégia que usa técnicas de aprendizado de máquina e programação genética para gerar automaticamente novos sistemas automatizados (algoritmos e parâmetros para robôs de negociação) com auxílio do I.A. (Inteligência artificial). Ele seleciona apenas as melhores estratégias com base nos resultados de backtests avançados, robustez e ferramentas de otimização e aponta a melhor de acordo com risco vs retorno. É capaz de combinar e verificar milhões de diferentes condições de entrada e saída, tipos de pedidos e níveis de preços, para encontrar as melhores estratégias de desempenho.</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="oque_smart_cloud">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse23" aria-expanded="true" aria-controls="collapse23">
								<span class="primary-text bold">O que é Smart Cloud?</span>
							</button>
						</h2>
					</div>

					<div id="collapse23" class="collapse show" aria-labelledby="headingOne" data-parent="#oque_smart_cloud">
						<div class="card-body">
							<p>
								Smart Cloud é o nosso servidor dedicado de primeira linha onde rodam todos os sistemas. É o mesmo servidor que a Google Cloud, Microsoft Azure, Amazon AWS, Cisco, Netflix entre outras grandes empresas Globais utilizam.
								Parceria exclusiva com vários Provedores de Internet Global Tier-1.<br> 
								Os clusters são construídos exclusivamente em Data Center Tier-4. <br>
								Proteção de ataques DDoS 24 horas por dia, 7 dias por semana, até 1500 Gbps.<br> 
								Soluções seguras ao mais alto nível de classificação por meio da arquitetura de segurança do Cyber ​​Tunnel e do uso de algoritmos e chaves de criptografia. Conta com as melhores certificações de segurança e conformidade de protocolo, consequentemente, garantimos segurança física de primeira classe, instalações de energia e refrigeração, com um recorde comprovado de disponibilidade de 99,9999%.
							</p>
						</div>
					</div>
				</div>


			</div>

			<div class="accordion" id="sistema_empresa_regulamentados">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse24" aria-expanded="true" aria-controls="collapse24">
								<span class="primary-text bold">O sistema e a empresa são regulamentados?</span>
							</button>
						</h2>
					</div>

					<div id="collapse24" class="collapse show" aria-labelledby="headingOne" data-parent="#sistema_empresa_regulamentados">
						<div class="card-body">
							<p>Sim, comercialização de estratégias automatizadas; CNAE 6202-3/00; Regulatório CVM conforme Item 15 Do Ofício-Circular CVM/SIN 02/19.</p>
						</div>
					</div>
				</div>


			</div>







		</div>
	</section>

</div>






