<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


<%- include('../includes/sidebar'); %>

<div class="page-content">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<%- include('faq_conteudo')%>
		</div>
	</section>

</div>






</div>