<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<section class="margin-bottom-sm">
			<div class="container-fluid">
				<div class="card">
					<div class="row">
						<div class="col-sm-12">
							<div class="padding-20">
								<div class="primary-text">Política de privacidade</div> 

								<%-include('politica_privacidade_conteudo')%>


							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

	</div>

</div>




