<%- include('../includes/menu_header'); %>

<div class="page-content">

	<section class="margin-bottom-sm">
		<div class="container-fluid">
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">
							

							<p><strong>Termos e condições de uso - Avisos legais e de responsabilidade</strong>

							<p>Desculpe-nos pelas letras miúdas, pois informação nunca é demais e não pecamos por omissão delas, para caberem precisam ser reduzidas para não comprometer a boa experiência de usuário no sistema. Prezamos a transparência e responsabilidade quando o assunto é sério, visando entregar o máximo de experiência não só tecnológica, mas também informativa e preventiva.</p>

							<p><strong>O usuário deste sistema, denominado apenas "USUÁRIO", declara que aceita todos os termos e compreende todas as informações abaixo:</strong></p>

							<p><strong>1. É fundamental que você leia atentamente, absorva e compreenda todos os termos deste contrato que regulam a utilização da Plataforma e esclarecem o tipo de investimento envolvido com seu uso e seus riscos e responsabilidades. Por isso, criamos este Contrato de Termo de Uso, que foi redigido de forma clara e em linguagem acessível. A cada vez que utilizar este site estará sujeito a versão mais atualizada dos Termos e Condições. Por favor, leia este documento com atenção.</strong></p>

							<p><strong>2.</strong> Para utilizar o sistema Variable White Box Hedge, estou ciente que devo estar enquadrado via Suitability (API - Análise de Perfil do Investidor) de minha corretora, para que seja disponibilizada operações em renda variável e autorizada contratação da plataforma externa em sua conta, cumprindo a Instrução 539 da CVM. Necessito contratar junto a uma das corretoras compatíveis a plataforma de negociação da MetaQuotes Ltd. Meta Trader 5, Netting, de respeitar o capital inicial mínimo necessário em conta de acordo com o produto selecionado previamente em nosso sistema.  Autorizo e tenho ciência do uso do sistema e servidor para realizar a integração e envio de ordens pelo sistema contratado integrado a minha plataforma de negociação sincronizada com minha autorização para os ativos futuros de Índice Bovespa (WIN) e cambial Real-Dólar (WDO). Recomendamos a ativação da RLP na corretora para maior liquidez e custo zero de corretagem. Declaro estar ciente de todos os pré-requisitos para poder iniciar o serviço contratado e não obstante qualquer atraso ou não cumprimento de algum item por parte do usuário não onera a contratada nem atrasa o início de prazo da contratação paga pelo sistema.</p>

							<p><strong>3.</strong>  Estou ciente que a definição de margens e limites de operação é de responsabilidade exclusiva da corretora e da BMF&BOVESPA, não tendo a E-Investor nenhuma participação ou responsabilidade nesse processo.</p>

							<p><strong>4.</strong> Estou ciente de que o MetaTrader 5, ou simplesmente MT5, é desenvolvido pela MetaQuotes Ltd. A Innvicton Tecnologia desenvolve e disponibiliza na plataforma E-Investor sistemas White Box, que funcionam sincronizados na estrutura Cloud no MetaTrader5 da MetaQuotes Ltd, e seu uso, riscos, e parâmetros utilizados são de inteira responsabilidade do usuário.</p>

							<p><strong>5.</strong> Tenho ciência que o investimento em renda variável, através de estratégias automatizadas de negociação, é um investimento de risco, podendo ocasionar perdas, inclusive, superior ao montante de capital alocado.</p> 

							<p><strong>6.</strong> Estou ciente que a E-Investor fornece  apenas software e tecnologias quantitativas, não atuando como prestadora de informações de mercado, ou como receptora/transmissora de ordens de negociação para o sistema de distribuição de valores mobiliários, razão pela qual se exime de quaisquer responsabilidades, direta ou indireta, por falhas, erros e todos e quaisquer prejuízos decorrentes de operações realizadas com base nas informações de seus sistemas, notadamente, mas não apenas, erros referentes a cotações, margem, ordens rejeitadas, intervenções feitas pelo risco da corretora, sincronização das posições com a corretora, e horários de negociação. O objetivo do presente sistema é o de fornecer ferramentas, softwares, informações e conhecimentos suficientes para operar nas Bolsa de Valores, de forma consciente, minimizando os riscos, mas ciente do grau de incerteza e dos riscos inerentes à atividade mesmo utilizando sistemas automatizados ou semi-automatizados de envio de ordens ou análise de dados do mercado, seguindo uma estratégia parametrizada pelo usuário ou com o auxílio de sistemas externos. Ciente, ainda, de que além das informações obtidas e o conhecimento acrescentado estará sujeito à sua habilidade específica em razão de seu grau de empenho.</p>

							<p><strong>7.</strong> A E-Investor é uma plataforma de T.I desenvolvida pela Innvicton Tecnologia inscrita sob o CNPJ: 23.285.285/0001-50. Atuamos com fornecimento de ferramentas, softwares e tecnologias quantitativas para usuários investidores, onde a total responsabilidade de operações, configuração e parametrização de sistemas pertence a cada usuário. Valendo ressaltar que os riscos existem e são inerentes às operações no mercado de renda variável.</p>

							<p><strong>8.</strong> Estou ciente dos riscos tecnológicos envolvidos em operações automatizadas, sejam eles oriundos de falhas de comunicação da rede, falha nos servidores, nos programas que implementam as estratégias, na plataforma Metatrader MetaQuotes Ltd. na corretora ou no sistema da Bolsa de Valores – B3, e eximo o fabricante desta plataforma de qualquer responsabilidade sobre as minhas operações, sejam elas de lucros ou prejuízos.</p>

							<p><strong>9.</strong> Estou ciente de que a E-Investor não recomenda, indica ou aconselha investimentos, nem qualquer informação sobre futuro desempenho, de qualquer sistema ou tecnologia. A decisão final em relação aos investimentos deve ser tomada por cada investidor, levando em consideração, ainda, os vários riscos, tarifas e comissões atreladas a cada operação. Esta plataforma, serviços e softwares não constitui nem deve ser interpretado como oferta ou solicitação de compra ou venda de qualquer instrumento financeiro, ficando a decisão de investimento sempre a critério exclusivo do usuário com base em seu juízo de valor.</p>


							<p><strong>10.</strong> Os desempenhos anteriores não são, necessariamente, indicativos de resultados futuros e nenhuma declaração ou garantia, de forma expressa ou implícita, é feita em relação a desempenhos futuros. A rentabilidade passada (Backtest) divulgada não considera impostos e custos operacionais. Os resultados de performance mostrados são de caráter informativo e foram baseados no último teste (Backtest) efetuado com os últimos parâmetros/algoritmos gerados por otimização pelo sistema Meta Trader 5 da MetaQuotes Ltd. via I.A. - Inteligência artificial e compilado em Portfólio pelo sistema QuantAnalyser4 da StrategyQuant.</p>

							<p><strong>11.</strong> A performance potencial apresentada é meramente indicativa de acordo com Backtest de últimos parâmetros/algoritmo otimizado por Inteligência Artificial, e o prejuízo efetivamente decorrente das operações realizadas pode ser substancialmente distinto da estimativa. O investidor que realiza operações de renda variável é o único responsável pelas decisões de investimento ou de abstenção de investimento que tomar.</p>

							<p><strong>12.</strong> Não realizamos custódia de valores ou de ativos, indicação ou recomendação de compra ou venda de qualquer ativo, bem como não fornecemos estratégias prontas ou indicação pessoal de parâmetros, sendo toda decisão de investir, escolher corretora, alocação de valores, utilização de sistemas White box, bem como seu preenchimento de parâmetros com auxílio ou não de sistemas de I.A. (Inteligência Artificial) externos, de responsabilidade do usuário.</p>

							<p><strong>13.</strong> O usuário está ciente e autoriza a E-Investor a utilizar e atualizar dados de parâmetros de algoritmos para uso nos sistemas contratados, com otimização e escolha de parâmetros por I.A. (Inteligência Artificial) do testador de estratégias do Metatrader 5 da MetaQuotes Ltd. e não obstante seus relatórios compilados pela StrategyQuant, com o intuito de identificar com tais sistemas e tecnologias os melhores parâmetros para o algoritmo de acordo com o melhor resultado passado (Retorno vs Rebaixamento) em teste no histórico dos ativos, para gerar automaticamente novos parâmetros (algoritmos para sistemas de negociação), este de total responsabilidade do usuário investidor sob sua ciência, conta e risco.</p>

							<p><strong>14.</strong> Toda ação e resultados pelo uso dos sistemas aqui fornecidos para otimização e escolha de parâmetros são de responsabilidade e risco do usuário e são apenas executados por nós em caráter de T.I. sem interferência humana, nossa ou de terceiros, na decisão de parâmetros, o usuário tendo sempre acesso aos parâmetros usados criados por ele, ou por sua solicitação por sistemas de I.A. (Inteligência Artificial) externos como os citados, relatórios gerados pelos sistemas e seus testes, estando livre e desimpedido para realizar qualquer alteração de parâmetros do algoritmo dos sistemas, utilizar, alterando ou não, aceitar ou não, parâmetros gerados por sistemas terceiros, pois se trata de uma estratégia White Box, aberta e parametrizável, sempre atentando-se que todo parâmetro utilizado ou alterado e seus resultados futuros são de total e irrestrita responsabilidade do usuário.</p>

							<p><strong>15.</strong> Consulte material e informações diretamente na página oficial dos sistemas utilizados:<br> 
							<a href="https://strategyquant.com/quantanalyzer" target="_blank">https://strategyquant.com/quantanalyzer</a><br>
							<a href="https://strategyquant.com/" target="_blank">https://strategyquant.com/</a><br>
							<a href="https://www.metaquotes.net/en/metatrader5/algorithmic-trading/tester">https://www.metaquotes.net/en/metatrader5/algorithmic-trading/tester</a>

							<p><strong>16.</strong> Nosso sistema é totalmente White Box, ou seja, 100% de poder de parametrização pelo usuário, que define os parâmetros de acordo com estudo estatístico, gerenciamento de risco, e sua própria responsabilidade, bem como pode também por sua opção utilizar de maneira integrada sistemas externos para realizar otimização de parâmetros via I.A. (Inteligência Artificial) a fim de definir quais são os melhores parâmetros via testes de possibilidades de acordo com sua aceitação, responsabilidade, definição e risco.</p>

							<p><strong>17.</strong> O Ofício normativo da CVM ( Ofício-Circular n° 2/2019/CVM/SIN ) diz que somente ficaram obrigados a ter um analista responsável e credenciado junto à CVM estratégias Black-Box ou Grey-Box, ou seja, as quais o usuário tem pouco ou nenhum poder de parametrização. Nossa estratégia é totalmente White Box com diversos campos de parâmetros abertos, ou seja, 100% parametrizada pelo usuário ou por sua escolha com auxílio de sistemas para gerar testes de possibilidades via I.A. (Inteligência Artificial), como o testador de estratégias Metatrader 5 da Meta Quotes Ltd. que define os parâmetros de acordo com o melhor resultado passado com base em testes no histórico dos ativos, e é de total responsabilidade do usuário que o usa e decide parametrizar de acordo com o resultado escolhido por este sistema seja direta ou indiretamente.</p>

							<p><strong>Segue abaixo conteúdo específico do Ofício Circular da CVM regulatório, demonstrando em qual item estamos enquadrados de forma legal a atuação no mercado:</strong></p>

							<p><strong>Comercialização de estratégias automatizadas</strong></p>
							<p><strong>Item 18.</strong> Do Ofício-Circular CVM/SIN 02/19 Importante destacar que a exigência de credenciamento não abrange aqueles que comercializam apenas sistemas automatizados que se destinam a operacionalizar a execução de decisões tomadas pelos próprios investidores. Assim, alertamos que a necessidade de credenciamento é restrita aos serviços que envolvem estratégias pré-definidas onde o investidor possui pouco ou nenhum poder de parametrização.<br>
							<a href="http://conteudo.cvm.gov.br/legislacao/oficios-circulares/sin/oc-sin-0219.html" target="_blank">http://conteudo.cvm.gov.br/legislacao/oficios-circulares/sin/oc-sin-0219.html</a><br>
							Assinado digitalmente por: Daniel Walter Maeda Bernardo - Superintendente de Relações com Investidores Institucionais.</p> 

							<p><strong>18.</strong> A negociação de futuros contém riscos substanciais e não é para todos os investidores. 
							Capital de risco é o dinheiro que pode ser perdido sem colocar em risco a segurança financeira ou o estilo de vida de uma pessoa. Somente capital de risco deve ser usado para negociação e apenas aqueles com capital de risco suficiente devem considerar a negociação.</p>

							<p><strong>19.</strong> Divulgação de desempenho hipotético (Relatórios de Backtest): Os resultados de desempenho hipotético têm muitas limitações inerentes, algumas das quais são descritas abaixo. nenhuma declaração está sendo feita de que qualquer conta irá ou terá probabilidade de obter lucros ou perdas semelhantes aos mostrados; na verdade, frequentemente existem diferenças nítidas entre os resultados de desempenho hipotéticos e os resultados reais subsequentemente obtidos por qualquer programa de negociação específico.</p>

							<p><strong>20.</strong> O conteúdo apresentado neste website, bem como seus sistemas, algoritmos e ferramentas não se trata de recomendação, indicação e/ou aconselhamento de investimento, sendo única e exclusiva responsabilidade do investidor a tomada de decisão e uso dos sistemas.</p>

							<p><strong>21.</strong> Não recomendamos ou subentendemos nada sobre o futuro desempenho de qualquer sistema ou tecnologia, deixando claro que os desempenhos anteriores e de Backtest não são indicativos de resultados futuros e nenhuma declaração ou garantia, de forma expressa ou implícita, é feita em relação a desempenhos futuros.</p>

							<p><strong>22.</strong> O investidor deve consultar seu próprio assessor ou conselheiro jurídico, tributário, regulatório, técnico de negócios, de investimentos, financeiro e contábil, na medida que julgar necessário, para assessoria na escolha de definição de softwares, plataformas, algoritmos, estratégias e setups.</p> 

							<p><strong>23.</strong> O sistema da E-Investor são totalmente parametrizáveis contendo seus parâmetros abertos para preenchimento pela usuário da maneira que ele preferir e julgar mais adequada e estão na classe de robôs investidores “White Box”, cabendo a cada usuário a tomada de decisão da estratégia ou setup que vai automatizar.</p> 

							<p><strong>24.</strong> É proibida a reprodução total ou parcial de textos, fotos, ilustrações ou qualquer outro conteúdo deste site por qualquer meio sem a prévia autorização de seu autor/criador ou do administrador, conforme LEI Nº 9.610, de 19 de fevereiro de 1998.</p>

							<p><strong>25. Política de privacidade</strong></p>

							<p>A sua privacidade é importante para nós. É política do sistema E-Investor respeitar a sua privacidade em relação a qualquer informação que possamos coletar.</p>
							<p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</p>
							<p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, os protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>
							<p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
							<p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas.</p>
							<p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
							<p>O uso continuado de nosso sistema e site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto conosco.</p>

							<p><strong>26.</strong> Você, e não este site, assume o custo de qualquer perda ou dano consequente do uso deste site ou qualquer conteúdo do mesmo. Esta ferramenta e seus participantes não são responsáveis por qualquer dano direto, indireto de qualquer natureza a qualquer usuário. Você, como usuário, aceita que os seus dados sejam coletados por esta ferramenta. Também aceita o uso de cookies por este site.</p>

							<p><strong>27.</strong> Sigilo e confidencialidade: o usuário está ciente que não está autorizado, salvo se com autorização prévia específica e formalizada, a divulgar total ou parcialmente conteúdo de qualquer espécie de nosso site e sistema,, bem como seu acesso não deve ser compartilhado ou fornecido a terceiros sob nenhuma hipótese, o usuário contratante é o único autorizado a ter acesso ao sistema, e qualquer irregularidade identificada e apurada enquadra um cancelamento e rescisão permanece de sua licença de uso do sistema e interrupção imediata dos serviços, exclusão de todos os dados, integrações e sistemas do servidor, conforme item cancelamento e rescisão.</p>

							<p><strong>28</strong> Do pagamento: O pagamento será mensal e recorrente, ou de acordo com o plano selecionado, e será pago sempre antecipadamente no dia da contratação via opção de pagamento escolhida pelo usuário. O início de funcionamento do sistema será em até 3 (três) dias úteis após o pagamento confirmado e tendo todos os pré-requisitos, preenchimento de parâmetros e dados necessários para integração cumpridos conforme item 2.</p>

							<p><strong>28.1</strong> O plano poderá ser cancelado a qualquer momento pelo usuário enviando uma solicitação pelos nossos meios de comunicação. Feito o cancelamento da assinatura da licença de uso, em até 5 (cinco) dias úteis, será removida a integração da conta do cliente e dados do servidor bem como serão fechadas todas as ordens abertas e pendentes do sistema na plataforma integrada do usuário.</p>

							<p><strong>28.2 Cancelamento e rescisão:</strong> O Plano poderá ser cancelado a qualquer momento pelo usuário. Feito o cancelamento da assinatura da licença de uso, em até 5 (cinco) dias úteis, será removida a integração da conta do cliente e dados do servidor bem como serão fechadas todas as ordens abertas e pendentes no sistema na plataforma integrada do usuário. Somente serão ressarcidos valores nos casos em que tenham ao menos 30 dias já pagos para frente (após a data do cancelamento) incidindo sobre este valor uma multa rescisória de 20% a favor da contratada. Para cancelamentos motivados pela contratada não haverá cobrança de multa sobre valor devolvido.</p>

							<p><strong>29.</strong> A E-Investor não garante o fornecimento dos sistemas e suas ferramentas em caráter perpétuo, podendo ser finalizado parcial ou totalmente por livre e espontânea vontade ou por força maior, sejam ela quail for. Em caso de finalização de fornecimento de algum sistema os usuários serão informados e será feito o cancelamento e rescisão conforme item 31.2.</p>

							<p><strong>30. Ao utilizar a plataforma e sistemas você estará legalmente vinculado a todos os termos e condições aqui presentes. Caso não concorde com qualquer das regras previstas, não utilize a Plataforma E-Investor e seus sistemas.</strong></p>

							<p>Autorizo a E-Investor a utilizar meus dados de conexão e sincronizar minha conta da plataforma de operações metatrader 5, e a hospedar em servidor Smart Cloud todos os sistemas necessários para o funcionamento da plataforma integrado a minha conta de negociação junto a minha corretora</p>

							<p><strong>Autorizo</strong> a E-Investor em caso de cancelamento de contratação a excluir todos os meus dados e acessos dos sistemas e servidores sem aviso prévio.</p>

							<p><strong>Autorizo</strong> a E-Investor a utilizar e atualizar dados de parâmetros White Box no sistema Variable White Box Hedge, sempre e quando necessário para o bom funcionamento dos mesmos seguindo os parâmetros escolhidos por testes via I.A. (Inteligência Artificial) das plataformas utilizadas, sob minha responsabilidade de usuário, utilizando o otimizador de algoritmos e parâmetros para uso nos sistemas contratados, com o testador de estratégias para otimização e escolha de parâmetros por I.A. (Inteligência Artificial) do Metatrader 5 da MetaQuotes Ltd. com o intuito de identificar com o auxílio de tal sistema e tecnologia os melhores parâmetros para o algoritmo de acordo com o melhor resultado passado (Retorno vs Rebaixamento) em teste no histórico dos ativos, e não obstante relatórios compilados pela StrategyQuant, de total responsabilidade de análise e interpretação minha como usuário investidor.</p>

							<p>Estou ciente que toda ação e resultados pelo uso dos sistemas aqui integrados para otimização e escolha de parâmetros são de responsabilidade e risco minha como usuário e são apenas executadas pela E-Investor em caráter de T.I por solicitação, ciência e autorização plena, não havendo interferência humana em decisões, parâmetros ou operações, somente sob minha responsabilidade como usuário ao uso dos parâmetros gerados por ferramentas integradas da MetaQuotes Ltd. e StrategyQuant, estando livre e desimpedido para realizar qualquer alteração de parâmetros no sistema contratado, utilizar, alterando ou não, aceitar ou não, parâmetros gerados por sistemas terceiros, sempre atentando-se que todo parâmetro utilizado ou alterado e seus resultados futuros são de total e irrestrita responsabilidade minha como usuário.</p>

							<p><strong>O usuário deste sistema, denominado apenas "USUÁRIO", declara que aceita, concorda e está ciente de todos os itens deste contrato de Termos e condições de uso - Avisos legais e de responsabilidade, ao utilizar a plataforma e licenças de uso de sistemas.</strong></p>

							<p>Copyright Innvicton Tecnologia - Todos os direitos reservados.</p>







						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</div>






